

/* Brands */
.brands{
    background-color: var(--ztc-bg-color-w);
}

.brands .brands-list{
    list-style: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 0;
}

.brands .brands-list .list{
    background-color: #F8F9FA;
    border: solid 1px #efefef;
    height: 130px;
    width: calc( 25% - 20px );
    border-radius: 7px;
    transition: all 0.4s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.brands .brands-list .list:hover{
    transition: all 0.4s;
    transform: translateY(-5px);
}

/* Desktop */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .brands .brands-list .list{
        width: calc( 33.33% - 20px );
        height: 100px;
        background-size: cover;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .brands .brands-list .list{
        width: calc( 50% - 20px );
        height: 100px;
        background-size: cover;
    }
}

@media (max-width: 415px) {
    .brands .brands-list .list{
        width: calc( 50% - 20px );
        height: 70px;
        background-size: cover;
    }
}

/* Products */

.products{
    background-color: var(--ztc-bg-bg-1);
}

.proucts-list{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    margin: 0 -0.4%;
}

.proucts-list .product{
    border: solid 1px #DDDD;
    background-color: #fff;
    width: calc( 24% - 1% );
    margin: 0 0.5%;
    margin-bottom: 1%;
    float: left;
    border-radius: 7px;
    overflow: hidden;
}

.proucts-list.product-3 .product{
    width: calc( 32.33% - 1% );
}

.proucts-list .product .image-wrap{
    height: 300px;
}

.proucts-list .product .image-wrap .imagethmb_inner{
    height: 300px;
}

.proucts-list .product .title-wrap{
    height: 55px;
    padding: 0 10px;
    overflow: hidden;
}

.proucts-list .product .title-wrap .title{
    display: block;
    font-size: var(--f-fs-font-fs16);
}

.proucts-list .product .button-wrap{
    padding: 10px;
}

.proucts-list .product .button-wrap .btn{
    height: 45px;
    line-height: 43px;
    border-radius: 7px;
    border: solid 2px #9a2a31;
    padding: 0 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proucts-list .product .button-wrap .btn:hover{
    color: #9a2a31;
}

.proucts-list .product .button-wrap .btn svg{
    margin-right: 10px;
}

.product-filters{
    list-style: none;
}

.product-filters li{
    height: 30px;
    line-height: 30px;
}

.product-filters li label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Mobile */
@media (max-width: 767px) {
    .proucts-list .product{
        width: calc( 49% - 1% );
        margin-bottom: 0.5%;
    }

    .proucts-list .product .title-wrap{
        height: 45px;
        line-height: 20px;
        overflow: hidden;
    }

    .proucts-list .product .image-wrap{
        height: 200px;
    }

    .proucts-list .product .image-wrap .imagethmb_inner{
        height: 200px;
    }

    .proucts-list .product .title-wrap .title{
        font-size: var(--f-fs-font-fs14);
    }

    .proucts-list .product .button-wrap span{
        font-size: var(--f-fs-font-fs14);
    }
}