
/* Banner ------------------------------------------ */

.ak-banner{
    background-color: #EEE;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
}

.ak-banner .row,
.ak-banner .row .flex-center{
    height: 100%;
}

.ak-banner .banner-content{
    min-height: 100px;
}

.ak-banner .banner-content h4{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-green);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-banner .banner-content h1{
    font-weight: 500;
    font-size: 56px;
    color: var(--color-blue);
    margin-bottom: 20px;
}

.ak-banner .banner-content p{
    font-weight: 500;
    font-size: 16px;
    color: var(--color-gray);
    margin-bottom: 20px;
}

.ak-banner .banner-content .button-group div{
    float: left;
    margin-right: 10px;
}

@media ( max-width: 1200px ) {
    .ak-banner{
        background-position: right;
    }
}

@media ( max-width: 768px ) {

    .ak-banner{
        background-position: center right 14%;
    }
    
    .ak-banner .banner-content{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 30px 10px;
        border-radius: 10px;
    }

    .ak-banner .banner-content h1{
        font-size:42px;
    }

    .ak-banner .banner-content h4{
        font-size: 18px;
    }

    .ak-banner .banner-content p{
        color: #555555;
    }

    .ak-banner .banner-content .button-group div{
        width: 100%;
    }

    .ak-banner .banner-content .ak-dft-btn,
    .ak-banner .banner-content .ak-invr-btn{
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }


}

/* Counter ------------------------------------------ */

.ak-counter{
    clear: both;
    padding: 50px 0;
    background-color: var(--color-white);
}

.ak-counter .counter-list{
    margin-top: -13%;
    list-style: none;
    overflow: hidden;
    background-color: var(--color-white);
    border: solid 1px var(--color-border);
    border-radius: 10px;
    padding: 10px 0px;
}

.ak-counter .counter-list .item{
    position: relative;
    width: 33.33%;
    float: left;
    text-align: center;
}

.ak-counter .counter-list .item::after{
    position: absolute;
    content: '';
    height: 80%;
    width: 2px;
    background-color: var(--color-border);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ak-counter .counter-list .item:last-child::after{
    display: none;
}

.ak-counter .counter-list .item h3{
    height: 100px;
    line-height: 100px;
    font-weight: 600;
    font-size: 72px;
    background: linear-gradient(180deg, #0095DA 0%, #1FAA4A 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ak-counter .counter-list .item p{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-light-blue);
    height: 40px;
}

@media ( max-width: 1200px ) {
    .ak-counter .counter-list{
        margin-top: -16%;
    }
}

@media ( max-width: 768px ) {

    .ak-counter .counter-list{
        margin-top: -20%;
    }

    .ak-counter .counter-list .item{
        width: 33.33%;
    }

    .ak-counter .counter-list .item h3{
        font-size: 46px;
        height: 75px;
        line-height: 75px;
        margin: 0;
    }

    .ak-counter .counter-list .item p{
        font-size: 12px;
    }

    /* .ak-counter .counter-list .item:nth-child(1)::before{
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: var(--color-border);
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    
    .ak-counter .counter-list .item:nth-child(2)::before{
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: var(--color-border);
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    } */
    

}

/* News ------------------------------------------ */

.ak-news{
    clear: both;
    background-color: var(--color-blue);
    height: 45px;
}

.ak-news .news-head{
    position: absolute;
    display: block;
    background-color: rgb(4 71 132);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    width: 100px;
    padding: 0 10px;
    text-align: center;
    z-index: 99999;
}

.ak-news .news-list{
    height: 45px;
    line-height: 45px;
    color: var(--color-white);
}

/* About Us ------------------------------------------ */

.ak-aboutus{
    clear: both;
    padding: 100px 0;
    position: relative;
    background-color: var(--color-white);
}

.ak-aboutus img{
    position: relative;
    left: 0;
}

.ak-aboutus .box{
    position: relative;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 50px;
    border-radius: 10px 0px 0px 10px;
    left: -180px;
}

.ak-aboutus .box::after{
    content: '';
    position: absolute;
    background-color: var(--color-blue);
    height: 100%;
    width: 50%;
    right: -50%;
    top: 0;
}

.ak-aboutus .box h3{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

.ak-aboutus .box h3::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-aboutus .box p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

@media ( max-width: 768px ) {

    .ak-aboutus{
        padding: 0;
    }

    .ak-aboutus.flex-center{
        display: block;
    }

    .ak-aboutus img.banner{
        width: 100%;
    }

    .ak-aboutus .box{
        width: 100%;
        border-radius: initial;
        left: 0;
        padding: 30px;
    }

    .ak-aboutus .box::after{
        display: none;
    }

}

/* Products ------------------------------------------ */

.ak-products{
    clear: both;
    padding: 70px 0;
    /* background-color: var(--color-white); */
}

.ak-products h2{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-products h2::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-products .products-list{
    display: flex;
    justify-content: space-between;
}

.ak-products .products-list .item{
    position: relative;
    width: 32%;
    border-radius: 10px;
}

.ak-products .products-list .item img{
    width: 100%;
}

.ak-products .products-list .item .text{
    position: absolute;
    height: 50px;
    width: 95%;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    color: var(--color-blue);
    margin: auto;
    padding: 15px 10px;
    border-radius: 10px;
}

@media ( max-width: 768px ) {

    .ak-products .products-list{
        display: block;
    }

    .ak-products .products-list .item{
        width: 100%;
        margin-bottom: 20px;
    }

}

/* Our Heritage ------------------------------------------ */

.ak-heritage {
    clear: both;
    padding: 70px 0;
    background-color: var(--color-white);
}


.ak-heritage h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-heritage h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-heritage h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--color-blue);
}

.ak-heritage p {
    color: rgba(128, 128, 128, 1);
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
}

.ak-heritage .content-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.ak-heritage .content-box .exp-count{
    background: linear-gradient(90deg, rgba(0, 43, 92, 0.9) 0%, rgba(0, 91, 194, 0) 100%);
    position: absolute;
    bottom: 0px;
    display: block;
    font-weight: 700;
    font-size: 160px;
    color: var(--color-white);
    height: 230px;
    line-height: 170px;
    padding: 0 30px;
}

.ak-heritage .content-box .exp-text{
    position: absolute;
    display: block;
    background: linear-gradient(270deg, #0095DA 0%, #1FAA4A 100%);
    color: var(--color-white);
    width: 250px;
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 0px 10px 0px 0px;
    bottom: 0px;
}

@media ( max-width: 768px ) {
    .ak-heritage .content-box{
        padding-top: 50px;
        overflow: hidden;
    }

    .ak-heritage .content-box img{
        height: 100%;
    }
}

/* Our Team ------------------------------------------ */


.ak-teams {
    clear: both;
    padding: 70px 0;
}

.ak-teams h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-teams h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-teams h3{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-blue);
    margin-bottom: 20px;
}

.ak-teams .teams-list{
    clear: both;
    display: flex;
    justify-content: center;
}

.ak-teams .teams-list .item{
    width: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
    text-align: center;
}

.ak-teams .teams-list .item .pic{
    width: 50%;
    border-radius: 50%;
    border: solid 1px var(--color-green);
    margin: 0 auto;
}

.ak-teams .teams-list .item .name{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(90deg, #1FAA4A 0%, #005BC2 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ak-teams .teams-list .item .designation{
    font-weight: 500;
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
    height: 50px;
}

@media ( max-width: 1024px ) {
    .ak-teams .teams-list .item {
        
    }

    .ak-teams .teams-list .item .name{
        font-size: 18px;
    }

}

@media ( max-width: 768px ) {

    .teams-list{
        display: block !important;
    }

    .ak-teams .teams-list.mob{
        display: block;
    }

    .ak-teams .teams-list.mob .item{
        width: 50%;
        float: left;
    }

    .ak-teams .teams-list .item {
        text-align: center;
        width: 100%;
    }
    .ak-teams .teams-list .item .pic{
        margin: 0 auto 20px auto;
    }

}


/* Services ----------------------------------------- */

.ak-services{
    position: relative;
    background-color: var(--color-blue);
    padding: 70px 0;
}

.ak-services .service_link{
    position: absolute;
    bottom: 70px;
}

.ak-services.desktop .service-list{
    clear: both;
    width: 100%;
}

.ak-services.desktop .service-list .item{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: var(--color-light-gray);
    font-size: 24px;
    font-weight: 500;
    padding-left: 30px;
    cursor: pointer;
}

.ak-services.desktop .service-list .item::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-light-gray);
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.ak-services.desktop .service-list .item.active{
    color: var(--color-white);
}

.ak-services.desktop .service-list .item.active span{
    position: relative;
}

.ak-services.desktop .service-list .item.active span::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
}

.ak-services.desktop .service-details{
    clear: both;
    width: 100%;
}

.ak-services.desktop .service-details .item{
    display: none;
    padding: 0 30px;
}

.ak-services.desktop .service-details .item.active{
    display: block;
}

.ak-services.desktop .service-details .item h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-services.desktop .service-details .item h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-services.desktop .service-details .item h3 {
    color: var(--color-white);
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 20px;
}

.ak-services.desktop .service-details .item img{
    width: 100%;
    border-radius: 10px;
    border: solid 1px var(--color-green);
}

/* --- */

.ak-services.mobile h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-services.mobile h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.ak-services.mobile .service-list{
    clear: both;
    width: 100%;
}

.ak-services.mobile .service-list .item{
    width: 100%;
}

.ak-services.mobile .service-list .item .header{
    position: relative;
    padding: 10px 0;
    color: var(--color-light-gray);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.ak-services.mobile .service-list .item .header::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
}


.ak-services.mobile .service-list .item .content{
    padding: 20px;
    display: none;
}

.ak-services.mobile .service-list .item .content.active{
    display: block;
}

.ak-services.mobile .service-list .item .content h3 {
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.ak-services.mobile .service-list .item .content img{
    width: 100%;
    border-radius: 10px;
}

.ak-services.mobile .service_link{
    position: absolute;
    bottom: 10px;
}

/* Partners --------------------------------------- */

.ak-partners{
    padding: 70px 0;
}

.ak-partners h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.ak-partners h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-partners .partners-list{
    width: 80%;
    margin: 0 auto;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-evenly;
}

.ak-partners .partners-list .item{
    height: 85px;
    width: 155px;
    margin-bottom: 10px;
}

.ak-partners .partners-list .item img{
    width: 100%;
}


@media ( max-width: 768px ) {

    .ak-partners .partners-list{
        display: block;
        width: 100%;
        flex-direction: column;
    }

    .ak-partners .partners-list .item{
        padding: 5px;
        flex-direction: column;
        float: left;
        height: auto;
        /* width: 50%; */
    }

}

/* Insigts  ------------------------------------ */

.ak-insigts{
    padding: 70px 0;
    background-color: var(--color-white);
}


.ak-insigts h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-insigts h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-insigts .insight-list-blog,
.ak-insigts .insight-list{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.ak-insigts .insight-list-blog{
    display: block;
    flex-wrap: wrap;
}

.ak-insigts .insight-list-blog .item,
.ak-insigts .insight-list .item{
    position: relative;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.ak-insigts .insight-list-blog .item{
    float: left;
    width: 32.33%;
    margin: 0.5%;
}

.ak-insigts .insight-list-blog .item .date,
.ak-insigts .insight-list .item .date{
    position: absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    color: var(--color-white);
    padding: 0 10px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    border-radius: 10px 0px 10px 0px;
}

.ak-insigts .insight-list-blog .item .imagethmb_inner,
.ak-insigts .insight-list .item .imagethmb_inner{
    height: 257px;
    vertical-align: top;
}

.ak-insigts .insight-list-blog .item .text,
.ak-insigts .insight-list .item .text{
    line-height: 28px;
    color: var(--color-blue);
    font-weight: 500;   
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ak-insigts .insight-list-blog .item .user,
.ak-insigts .insight-list .item .user{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: solid 1px var(--color-border);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.ak-insigts .insight-list-blog .item .user img,
.ak-insigts .insight-list .item .user img{
    width: 15px;
    height: 15px;
}

.ak-insigts .insight-list-blog .item .user span,
.ak-insigts .insight-list .item .user span{
    padding: 0 8px;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    font-size: 16px;
}


.ak-insigts .insight-list-blog .item .link,
.ak-insigts .insight-list .item .link{
    display: flex;
    justify-content: start;
    align-items: center;
}

.ak-insigts .insight-list-blog .item .link a,
.ak-insigts .insight-list .item .link a{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-blue);
}

.ak-insigts .insight-list-blog .item .link img,
.ak-insigts .insight-list .item .link img{
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

.ak-insigts .nav-group{
    display: flex;
    justify-content: end;
}

.ak-insigts .nav-group .prev,
.ak-insigts .nav-group .next{
    display: block;
    cursor: pointer;
}

.ak-insigts .nav-group .prev{
    margin-right: 5px;
}
.ak-insigts .nav-group .next{
    margin-left: 5px;
}

/*  */

.ak-markets{
    padding: 70px 0;
}

.ak-markets h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-markets h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-markets p{
    width: 30%;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.ak-markets .markets-list{
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.ak-markets .markets-list .item{
    padding: 8px 20px;
    border-radius: 50px;
    border: solid 1px var(--color-green);
    float: left;
    background: linear-gradient(90deg, #002B5C 0%, #1FAA4A 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}

.ak-markets .market-pic{
    width: 100%;
    margin-top: 50px;
}

@media ( max-width: 768px ) {
    .ak-markets p{
        width: 100%;
    }

    .ak-markets .markets-list .item{
        padding: 6px 15px;
        font-size: 15px;
    }

    .ak-insigts .insight-list-blog .item{
        width: 100%;
    }

}

/* About Us */

.ak-aboutus-banner{
    padding: 40px 0 0 0;
    position: relative;
    background-color: var(--color-white);
}

.ak-aboutus-banner .slider{
    clear: both;
    position: relative;
}

.ak-aboutus-banner .slider .owl-item img{
    transform: scale(1.023);
}

.ak-aboutus-banner .nav-group{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 48%;
    z-index: 9999;
}

.ak-aboutus-banner .nav-group .prev,
.ak-aboutus-banner .nav-group .next{
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

.ak-aboutus-content{
    padding: 30px 0 0 0;
    background-color: var(--color-white);
}

.ak-aboutus-content h2{
    font-weight: 500;
    font-size: 32px;
    color: var(--color-blue);
    margin-bottom: 20px;
}

.ak-aboutus-content p{
    font-weight: 500;
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 20px;
    text-align: justify;
}

.ak-aboutus-view{
    clear: both;
    padding: 70px 0;
    position: relative;
    background-color: var(--color-white);
}

.ak-aboutus-view img{
    position: relative;
    left: 0;
}

.ak-aboutus-view .box{
    position: relative;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 80px 50px;
    border-radius: 10px 0px 0px 10px;
    left: -80px;
}

.ak-aboutus-view .box::after{
    content: '';
    position: absolute;
    background-color: var(--color-blue);
    height: 100%;
    width: 50%;
    right: -50%;
    top: 0;
}

.ak-aboutus-view .box h3{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

.ak-aboutus-view .box h3::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-aboutus-view .box p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ak-aboutus-values{
    position: relative;
    padding: 0px 0;
    background: linear-gradient(270deg, #0095DA 0%, #1FAA4A 100%);
}

.ak-aboutus-values .value-list{
    padding: 45px 0;
    width: 80%;
    position: relative;
}

.ak-aboutus-values .logo{
    position: absolute;
    height: 160px;
    width: 160px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
}

.ak-aboutus-values .logo::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 1px var(--color-white);
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    transform: scale(1.05);
}

.ak-aboutus-values .logo img{
    width: 55%;
}

.ak-aboutus-values .logo h2{
    width: 50%;
    font-size: 13px;
    text-align: center;
    margin: 10px auto;
}

.ak-aboutus-values .value-list.br{
    border-bottom: solid 1px rgba(210, 210, 210, 1);
}

.ak-aboutus-values .value-list.pdr{
    margin-right: 100px;
}

.ak-aboutus-values .value-list.pdl{
    margin-left: 100px;
}

.ak-aboutus-values .value-list h4{
    font-weight: 500;
    font-size: 24px;
    color:rgba(255, 255, 255, 1);
}

.ak-aboutus-values .value-list p{
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

@media ( max-width: 768px ) {

    .ak-aboutus-banner{
        padding: 50px 0 0 0;
    }

    .ak-aboutus-content{
        padding: 50px 0;
    }

    .ak-aboutus-view img{
        width: 100%;
    }

    .ak-aboutus-view.flex-center{
        display: block;
        padding: 0;
    }

    .ak-aboutus-view .box{
        left: 0;
        border-radius: 0;
        padding: 50px 50px 100px 50px;
    }

    .ak-aboutus-view .box::after{
        display: none;
    }

    .ak-aboutus-view .box p{
        font-size: 18px;
    }

    .ak-aboutus-values .value-list{
        /* padding-top: 0; */
    }

    .ak-aboutus-values .value-list.pdr,
    .ak-aboutus-values .value-list.pdl{
        margin: 0;
    }

    .ak-aboutus-values .logo{
        position: relative;
        top: 10px;
    }

    .ak-aboutus-values .value-list.br-m{
        border-bottom: solid 1px rgba(210, 210, 210, 1);
    }

}


/* Contact */

.ak-inner-contact{
    clear: both;
    padding: 70px 0;
}

.ak-inner-contact h2{
    font-weight: 500;
    font-size: 32px;
    color: var(--color-blue);
    margin-bottom: 70px;
}

#map{
    height: 550px;
    width: 100%;
}

@media ( max-width: 768px ) {

    .ak-inner-contact{
        padding: 50px 0;
    }

    .ak-inner-contact h2{
        font-size: 26px;
        margin-bottom: 50px;
    }

    .ak-inner-contact .ak-dft-btn {
        width: 100%;
        justify-content: center;
    }

    #map{
        height: 300px;
    }

}


/* Product List */

.ak-inner-product-list{
    padding: 70px 0 150px 0;
    clear: both;
    background-color: var(--color-white);
}

.ak-inner-product-list .product-category{
    overflow: hidden;
    border-bottom: solid 1px var(--color-border);
    height: 60px;
    width: 90%;
    margin: 0 auto;
}

.ak-inner-product-list .product-category .item{
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 43, 92, 0.5);
    float: left;
    padding: 0 15px;
    cursor: pointer;
}

.ak-inner-product-list .product-category .item.active{
    color: var(--color-blue);
    position: relative;
}

.ak-inner-product-list .product-category .item.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--color-blue);
}


/* - - - - - */

.ak-inner-product-list .product-list-item{
    margin-top: 70px;
}

.ak-inner-product-list .product-list-item .item{
    position: relative;
    width: 31%;
    padding: 0 30px;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: solid 1px rgba(0, 43, 92, 0.2);
    box-shadow: 0px 8px 40px 0px rgba(0, 43, 92, 0.1);
    background-color: var(--color-white);
}

.ak-inner-product-list .product-list-item .item.active{
    position: relative;
    background-color: var(--color-blue);
    box-shadow: 0px 8px 40px 0px #05a5ee;
    border-radius: 10px 10px 0 0;

}

.ak-inner-product-list .product-list-item .item::after{
    content: '+';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 22px;
    border-radius: 50%;
    background-color: var(--color-white);
    top: 35px;
    right: 10px;
    margin: auto;
    text-align: center;
    font-weight: 500;
    border: solid 1px var(--color-border);
}

.ak-inner-product-list .product-list-item .item h4{
    height: 130px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-blue);
    padding: 35px 10px;
}

.ak-inner-product-list .product-list-item .item span{
    display: none;
    color: var(--color-blue);
}

.ak-inner-product-list .product-list-item .item span::after{
    content: '-';
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 22px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-blue);
    top: 35px;
    right: 10px;
    margin: auto;
    text-align: center;
    font-weight: 500;
    border: solid 1px var(--color-border);
}

.ak-inner-product-list .product-list-item .item span h5{
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.ak-inner-product-list .product-list-item .item.active h4{
    font-size: 15px;
    font-weight: 500;
    color: var(--color-white);
}

.ak-inner-product-list .product-list-item .item.active p{
    padding: 0 10px;
}

.ak-inner-product-list .product-list-item .item.active span{
    min-height:154px;
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: var(--color-white);
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: var(--color-blue);
    padding: 35px 30px;
    border-radius: 10px;
    z-index: 999;
}

.category-nav-group{
    position: relative;
}

.ak-inner-product-list .nav-group{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ak-inner-product-list .nav-group .prev,
.ak-inner-product-list .nav-group .next{
    height: 30px;
    width: 30px;
    cursor: pointer;
}


@media ( max-width: 768px ) {

    .ak-inner-product-list .product-category{
        width: 80%;
    }

    .ak-inner-product-list .product-category .item{
        font-size: 14px;
    }

    .ak-inner-product-list .product-list-item .item{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}


/* Service */

.ak-inner-service{
    clear: both;
    background-color: var(--color-white);
    padding: 70px 0;
}

.ak-inner-service .service-list{
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ak-inner-service .service-list .item{
    background-color: var(--color-blue);
    color: var(--color-white);
    min-height: 160px;
    width: calc( 33.33% - 10px );
    margin-bottom: 70px;
    border: solid 1px #fff;
    border-radius: 10px;
    overflow: hidden;
}

.ak-inner-service .service-list .item:nth-child(even){
    background-color: var(--color-white);
    color: var(--color-blue);
    border: solid 1px var(--color-border);
}

.ak-inner-service .service-list .item img{
    transform: scale(1.40);
}

.ak-inner-service .service-list .item .imagethmb{
    overflow: hidden;
}

.ak-inner-service .service-list .item .imagethmb_inner{
    height: 300px;
    text-align: center;
}

.ak-inner-service .service-list .item .separator{
    display: block;
    height: 3px;
    width: 100%;
    background: linear-gradient(270deg, #0095DA 0%, #1FAA4A 100%);
}

.ak-inner-service .service-list .item .content{
    padding: 20px;
}

.ak-inner-service .service-list .item .content h4{
    font-weight: 500;
    font-size: 24px;
    border-bottom: solid 1px rgba(210, 210, 210, 1);
    padding-top: 20px;
    padding-bottom: 10px;
}

.ak-inner-service .service-list .item .content p{
    font-weight: 500;
    font-size: 16px;
    height: 140px;
}

.ak-inner-service .service-list .item:nth-child(even) .content p{
    color: rgba(128, 128, 128, 1)
}

.ak-inner-service .service-list .item .content .link{
    display: block;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.ak-inner-service .service-list .item .content .link img{
    width: 10px;
    height: 10px;
    margin: 0 10px;
}


@media ( max-width: 768px ) {
    .ak-inner-service .service-list{
        display: block;
    }

    .ak-inner-service .service-list .item{
        width: 100%;
        margin-bottom: 15px;
    }

}

.ak-inner-market-research{
    clear: both;
    padding: 70px 0;
    background-color: var(--color-white);
}

.ak-inner-market-research .banner-image .imagethmb_inner{
    width: 100%;
}

.ak-inner-market-research .banner-image .imagethmb_inner img{
    border-radius: 10px;
}

.ak-inner-market-research .banner-content{
    clear: both;
}

.ak-inner-market-research .banner-content h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.ak-inner-market-research .banner-content h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-inner-market-research .banner-content .service-list{
    /* overflow: hidden; */
}

.ak-inner-market-research .banner-content .service-list .item{
    height: 60px;
    line-height: 60px;
    font-weight: 500;
    font-size: 24px;
    color: var(--color-blue);
    border: solid 1px var(--color-border);
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 8px 40px 0px rgba(0, 43, 92, 0.1);
    cursor: pointer;
}

.ak-inner-market-research-content{
    background-color: var(--color-white);
    padding-bottom: 70px;
}

.ak-inner-market-research-content.bg-color{
    background: linear-gradient(270deg, #0095DA 0%, #1FAA4A 100%);
}

.ak-inner-market-research-content h2{
    font-weight: 500;
    font-size: 32px;
    color: var(--color-blue);
    margin-bottom: 30px;
}

.ak-inner-market-research-content h3{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

.ak-inner-market-research-content h3::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-inner-market-research-content .categories-list{
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.ak-inner-market-research-content .categories-list .item{
    padding: 8px 20px;
    border-radius: 50px;
    border: solid 1px var(--color-green);
    float: left;
    background: linear-gradient(90deg, #002B5C 0%, #1FAA4A 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}


.ak-inner-market-research-content p{
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.ak-inner-market-research-content .marketing-list{
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
}

.ak-inner-market-research-content .marketing-list .item{
    width: 32.33%;
    float: left;
    border-radius: 10px;
    border: solid 1px var(--color-border);
    box-shadow: 0px 8px 40px 0px rgba(0, 43, 92, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 20px;
    height: 430px;
}

.ak-inner-market-research-content .marketing-list .item img{
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}

.ak-inner-market-research-content .marketing-list .item h2{
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
}

.ak-inner-market-research-content .marketing-list .item p{
    font-weight: 500;
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
}


.ak-inner-market-research-process{
    padding: 70px 0;
    background: linear-gradient(270deg, #0095DA 0%, #1FAA4A 100%);
}

.ak-inner-market-research-process h2{
    font-weight: 500;
    font-size: 32px;
    color: var(--color-white);
    text-align: center;
    padding-bottom: 20px;
    margin: 20px 0 150px 0;
    position: relative;
}

.ak-inner-market-research-process h2.dot::after{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: var(--color-white);
    border-radius: 50%;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;
}

.ak-inner-market-research-process h2.dot::before{
    position: absolute;
    content: '';
    height: 110px;
    width: 2px;
    background-color: var(--color-white);
    bottom: -110px;
    left: 0;
    right: 0;
    margin: auto;
}

.ak-inner-market-research-process .process-list{
    /* overflow: hidden; */
    height: 200px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.ak-inner-market-research-process .process-list::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 160%;
    background-color: var(--color-white);
    top: 22%;
    left: -200px;
    z-index: 1;
}

.ak-inner-market-research-process .process-list .item{
    float: left;
    position: relative;
}

.ak-inner-market-research-process .process-list.six .item{
    width: 16.66%;
}

.ak-inner-market-research-process .process-list.seven .item{
    width: 14.28%;
}

.ak-inner-market-research-process .process-list .item .value{
    position: relative;
    display: block;
    height: 85px;
    line-height: 85px;
    width: 85px;
    background-color: var(--color-white);
    color: var(--color-blue);
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0 auto;
    z-index: 999;
}

.ak-inner-market-research-process .process-list .item .text{
    position: relative;
    display: block;
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    text-align: center;
    margin: 10px auto;
    z-index: 999;
}

.ak-inner-market-research-process .process-model{
    clear: both;
    width: 80%;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.ak-inner-market-research-process .process-model .item{
    background-color: var(--color-white);
    color: var(--color-blue);
    width: 49%;
    padding: 30px 20px;
    border-radius: 10px;
    position: relative;
}

.ak-inner-market-research-process .process-model .item::after{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: var(--color-white);
    border-radius: 50%;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
}

.ak-inner-market-research-process .process-model .item.left::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--color-white);
    top: -41px;
    right: -50%;
    margin: auto;
}

.ak-inner-market-research-process .process-model .item.right::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--color-white);
    top: -41px;
    left: -50%;
    margin: auto;
}

.ak-inner-market-research-process .content-box{
    clear: both;
}

.ak-inner-market-research-process .content-box h3{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

.ak-inner-market-research-process .content-box h3::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-inner-market-research-process .content-box h2{
    margin: 0 !important;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 32px;
}

.ak-inner-market-research-process .content-box p{
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
}

.ak-inner-market-research-process .content-box img{
    float: right;
}

/*  */

.ak-inner-market-research-steps{
    clear: both;
    padding: 0 0 70px 0;
    background-color: var(--color-white);
}

.ak-inner-market-research-steps .steps-list{
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.ak-inner-market-research-steps .steps-list .item{
    width: 15.66%;
    border: solid 1px var(--color-border);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding: 30px 10px;
}

.ak-inner-market-research-steps .steps-list .item img{
    height: 50px;
}

.ak-inner-market-research-steps .steps-list .item span{
    font-weight: 500;
    font-size: 22px;
    color: var(--color-blue);   
    text-align: center;
    display: block;
    margin-top: 10px;
}


@media ( max-width: 768px ) {

    .ak-inner-market-research-content .marketing-list{
        display: block;
    }

    .ak-inner-market-research-content .marketing-list .item{
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    .ak-inner-market-research-process{
        padding: 50px 0;
    }

    .ak-inner-market-research{
        padding: 50px 0 25px 0;
    }
    
    .ak-inner-market-research .banner-content .service-list .item{
        font-size: 20px;
    }

    .ak-inner-market-research .banner-content h2{
        margin-top: 30px;
    }

    .ak-inner-market-research-process .process-list .item{
        width: 100%;
        float: none;
    }

    .ak-inner-market-research-process .process-list::after{
        display: none;
    }

    .ak-inner-market-research-process .process-list{
        height: auto;
    }

    .ak-inner-market-research-process .process-list.six .item,
    .ak-inner-market-research-process .process-list.seven .item{
        width: 100%;
        float: none;
        margin-bottom: 50px;
    }

    .ak-inner-market-research-process .process-model{
        display: block;
    }
    
    .ak-inner-market-research-process .process-model .item{
        width: 100%;
        margin-bottom: 20px;
    }

    .ak-inner-market-research-process h2{
        margin: 0;
        margin-bottom: 50px;
        font-size: 28px;
    }

    .ak-inner-market-research-process .process-model{
        margin: 30px auto; 
    }

    .ak-inner-market-research-process .process-model .item.right::before,
    .ak-inner-market-research-process .process-model .item.right::after,
    .ak-inner-market-research-process .process-model .item.left::before,
    .ak-inner-market-research-process .process-model .item.left::after,
    .ak-inner-market-research-process h2.dot::before,
    .ak-inner-market-research-process h2.dot::after{
        display: none;
    }

    .ak-inner-market-research-process .content-box img{
        width: 100%;
    }

    .ak-inner-market-research-process .content-box h2{
        font-size: 24px;
    }

    .ak-inner-market-research-steps .steps-list {
        display: block;
    }

    .ak-inner-market-research-steps .steps-list .item{
        width: 100%;
        margin-bottom: 15px;
    }

}