.tiptap * {
    margin: 0;
    padding: 0;
}

.tiptap .filament-tiptap-grid-builder{
    display: flex;
    justify-content: space-between;
}

.tiptap .filament-tiptap-grid-builder__column{
    width: 100%;
    padding: 10px;
}

.tiptap table{
    width: 100%;
    table-layout: fixed;
    border-top: solid 1px #ddd;
    border-right: solid 1px #ddd;
}

.tiptap table tr th,
.tiptap table tr td{
    padding: 5px 10px;
    border-left: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

@media only screen and (max-width: 768px) {
    .tiptap .filament-tiptap-grid-builder{
        display: block;
    }
}
