
.topbar-wrapper{
    height: 70px;
    line-height: 70px;
    background-color: var(--bg-color);
    text-align: center;
    border-bottom: solid 1px rgba(99, 200, 245, 1)
}

.topbar-wrapper .text{
    font-size: 16px;
    font-weight: 500;
}

.topbar-wrapper .link{
    color: var(--font-color-blue);
    text-decoration: underline;
}


@media ( max-width: 768px ) {

    .topbar-wrapper{
        line-height: normal;
        padding: 20px 0;
    }
    .topbar-wrapper .text{
        font-size: 12px;
        margin: 0;
    }
    .topbar-wrapper .text .link{
        display: block;
    }

}

/* Header .... */

.header-wrapper{
    padding: 10px 0;
    position: relative;
}

.header-wrapper .navbar-brand img{
    height: 50px;
}

.header-wrapper .navbar-nav{
    align-items: center;
}

.header-wrapper .nav-link{
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}

.header-wrapper .nav-link:hover{
    color: var(--font-color-blue);
}


.header-wrapper .nav-link.social{
    margin: 0 10px;
    position: relative;
}

.header-wrapper .nav-link.social .fb::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--font-color-blue);
    left: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.header-wrapper .nav-link.social .in::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--font-color-blue);
    right: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media ( max-width: 768px ) {
    .header-wrapper .nav-link.social{
        display: none;
    }
}


/* Home Banner .... */

.banner-wrapper{
    height: 596px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-wrapper .box{
    height: 596px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-wrapper .heading-1{
    font-size: 54px;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 20px;
}

.banner-wrapper .heading-2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-wrapper .heading-3{
    width: 70%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-wrapper .btn{
    margin-top: 20px;
}

@media ( max-width: 768px ) {

    .banner-wrapper .box,
    .banner-wrapper .heading-3{
        width: 100%;
    }

    .banner-wrapper .heading-1{
        font-size: 32px;
    }

    .banner-wrapper .heading-2{
        font-size: 16px;
    }

}

/* Why Us  .... */

.whyus-wrapper{
    padding: 70px 0;
}

.whyus-wrapper .heading{
    margin-bottom: 50px;
}

.whyus-wrapper .whyus-list{
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 20px
}

.whyus-wrapper .whyus-list .list{
    display: flex;
    width: calc( 33.33% - 20px );
    height: 150px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 11px;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.whyus-wrapper .whyus-list .list .text{
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.whyus-wrapper .whyus-list .list .image-circle{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.whyus-wrapper .whyus-list .list .text.blue{
    color: var(--font-color-blue);
}

@media ( max-width: 768px ) {

    .whyus-wrapper{
        padding: 30px 0;
    }

    .whyus-wrapper .heading{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .whyus-wrapper .whyus-list{
        display: block;
    }

    .whyus-wrapper .whyus-list .list{
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 13px;
    }

}


/* Growth .... */

.growth-wrapper{
    padding: 70px 0;
    background-color: rgba(0, 176, 236, 0.04);
}

.growth-wrapper .growth-highlights{
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.growth-wrapper .growth-highlights .list{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 32%;
    padding: 10px;
    border: solid 1px var(--font-color-black);
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
}

.growth-wrapper .growth-wheel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

@media ( max-width: 768px ) {

    .growth-wrapper{
        padding: 30px 0;
    }

    .growth-wrapper .sub-heading{
        font-size: 20px;
    }

    .growth-wrapper .heading{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .growth-wrapper .growth-highlights{
        display: block;
    }

    .growth-wrapper .growth-highlights .list{
        display: block;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .growth-wrapper .growth-wheel{
        width: 100%;
    }

    .growth-wrapper .growth-wheel .growth_image_circle{
        width: 100%;
    }

    .growth-wrapper .growth-wheel{
        padding: 30px 0;
    }

}

/* Services .... */

.service-wrapper{
    padding: 70px 0;
}

.service-wrapper .heading{
    margin-bottom: 30px;
}

.service-wrapper .service-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-wrapper .service-list .list{
    width: calc( 33.33% - 20px );
    border: solid 1px rgba(0, 43, 92, 0.2);
    box-shadow: 0px 8px 40px 0px rgba(0, 43, 92, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.service-wrapper .service-list .list .image-wrap{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}

.service-wrapper .service-list .list .image-wrap::after{
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    background: linear-gradient(90deg, #2F2F2F 0%, #00B0EC 100%);
    bottom: 0;
    left: 0;
}

.service-wrapper .service-list .list .service-info{
    padding: 30px 20px;
}

.service-wrapper .service-list .list .service-info .header{
    color: var(--font-color-blue);
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.service-wrapper .service-list .list .service-info ul{
    list-style: none;
}

.service-wrapper .service-list .list .service-info ul li{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    padding: 30px 0;
}

.service-wrapper .service-list .list .service-info ul li:last-child{
    border: none;
}

@media ( max-width: 768px ) {

    .service-wrapper{
        padding: 30px 0;
    }

    .service-wrapper .sub-heading{
        font-size: 20px;
        margin-bottom: 0;
    }

    .service-wrapper .heading{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .service-wrapper .service-list .list{
        width: 100%;
    }

}

/* We Believe .... */

.webelieve-wrapper{
    padding: 70px 0;
    background-color: rgba(0, 176, 236, 0.04);
}

.webelieve-wrapper .highlights{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.webelieve-wrapper .highlights .list{
    overflow: hidden;
    width: 25%;
}

.webelieve-wrapper .highlights .list .image-wrap,
.webelieve-wrapper .highlights .list .image-wrap .imagethmb_inner{
    height: 200px;
}

.webelieve-wrapper .highlights .list .text-wrap{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.webelieve-wrapper .highlights .list .text-wrap span{
    font-size: 20px;
    font-weight: 700;
}

@media ( max-width: 768px ) {

    .webelieve-wrapper{
        padding: 30px 0;
    }

    .webelieve-wrapper .sub-heading{
        font-size: 20px;
        line-height: normal;
        margin-bottom: 20px;
    }

    .webelieve-wrapper .heading{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .webelieve-wrapper .highlights{
        display: block;
    }

    .webelieve-wrapper .highlights .list{
        width: 50%;
        float: left;
    }

    .webelieve-wrapper .highlights .list .text-wrap span{
        font-size: 12px;
    }

    .webelieve-wrapper .highlights .list .image-wrap,
    .webelieve-wrapper .highlights .list .image-wrap .imagethmb_inner{
        height: 100px;
    }

    .webelieve-wrapper .highlights .list .text-wrap{
        margin-bottom: 10px;
    }

}

/* Teams .... */


.teams-wrapper{
    padding: 70px 0;
}

.teams-wrapper .heading{
    margin-bottom: 50px;
}

.teams-wrapper .team-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.teams-wrapper .team-list .list{
    overflow: hidden;
    width: 25%;
    border-radius: 10px;
    border: solid 1px rgba(0, 43, 92, 0.2);
    box-shadow: 0px 8px 40px 0px rgba(0, 43, 92, 0.1);
}

.teams-wrapper .team-list .list .image-wrap{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-wrapper .team-list .list .image-wrap img{
    width: 50%;
    border-radius: 50%;
    border: solid 1px rgba(0, 43, 92, 0.2);
}

.teams-wrapper .team-list .list .heading-wrap{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-wrapper .team-list .list .heading-wrap h3{
    font-size: 28px;
    font-weight: 500;
    color: var(--font-color-blue);
}

.teams-wrapper .team-list .list .company-wrap{
    clear: both;
}

.teams-wrapper .team-list .list .company-wrap ul{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.teams-wrapper .team-list .list .company-wrap ul li{
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgba(47, 47, 47, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.teams-wrapper .team-list .list .company-wrap ul li img{
    width: 100%;
}

.teams-wrapper .team-list .list .info-wrap{
    padding: 30px 20px;
}

.teams-wrapper .team-list .list .info-wrap ul li{
    font-size: 14px;
    margin-bottom: 10px;
    color: rgba(47, 47, 47, 0.5);
    position: relative;
    padding-left: 20px;
}

.teams-wrapper .team-list .list .info-wrap ul li::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: rgba(47, 47, 47, 0.5);
    left: 6px;
    top: 8px;
    border-radius: 50%;
}

@media ( max-width: 768px ) {

    .teams-wrapper{
        padding: 30px 0;
    }

    .teams-wrapper .sub-heading{
        font-size: 20px;
        line-height: normal;
        margin-bottom: 0px;
    }

    .teams-wrapper .heading{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .teams-wrapper .team-list{
        display: block;
    }

    .teams-wrapper .team-list .list{
        width: 100%;
        margin-bottom: 20px;
    }

}

/* Lets Connect ---- */

.letsconnect-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: solid 2px var(--font-color-black);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.letsconnect-wrapper .heading{
    display: block;
    margin-bottom: 20px;
}

.letsconnect-wrapper .btn{
    width: 180px;
}

/* Footer ---- */

footer{
    clear: both;
    padding: 30px 0;
}

footer .footer-logo{
    height: 70px;
}

footer .footer-logo img{
    height: 100%;
}

footer .footer-navbar{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer .footer-navbar .nav-link{
    color: var(--font-color-black);
    display: block;
    height: 70px;
    line-height: 70px;
    margin: 0 10px;
}

footer .footer-navbar .nav-link:hover{
    color: var(--font-color-blue);
}


footer .footer-navbar .nav-link.social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(233, 233, 233, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media ( max-width: 768px ) {

    .letsconnect-wrapper{
        width: calc(100% - 18px);
    }

    .letsconnect-wrapper .heading{
        font-size: 24px;
        line-height: normal;
    }

    footer .footer-logo{
        margin-bottom: 20px;
    }

    footer .footer-navbar{
        display: block;
    }

    footer .footer-navbar.mobile{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    footer .footer-navbar li{
        float: left;
    }

    footer .footer-navbar .nav-link{
        height: 40px;
        line-height: 40px;
        width: 100%;
        /* width: calc( 50% - 20px ); */
        /* float: left; */
    }

    footer .flex-end{
        display: block;
    }



}
