
.topbar-wrapper{
    height: 70px;
    line-height: 70px;
    background-color: var(--bg-color);
    text-align: center;
    border-bottom: solid 1px rgba(99, 200, 245, 1)
}

.topbar-wrapper .text{
    font-size: 16px;
    font-weight: 500;
}

.topbar-wrapper .link{
    color: var(--font-color-blue);
    text-decoration: underline;
}


@media ( max-width: 768px ) {

    .topbar-wrapper{
        line-height: normal;
        padding: 20px 0;
    }
    .topbar-wrapper .text{
        font-size: 12px;
        margin: 0;
    }
    .topbar-wrapper .text .link{
        display: block;
    }

}

/* Header .... */

.header-wrapper{
    padding: 10px 0;
    position: relative;
}

.header-wrapper .navbar-brand img{
    height: 50px;
}

.header-wrapper .navbar-nav{
    align-items: center;
}

.header-wrapper .nav-link{
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}

.header-wrapper .nav-link.social{
    margin: 0 10px;
    position: relative;
}

.header-wrapper .nav-link.social .fb::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--font-color-blue);
    left: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.header-wrapper .nav-link.social .in::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--font-color-blue);
    right: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media ( max-width: 768px ) {
    .header-wrapper .nav-link.social{
        display: none;
    }
}


/* Home Banner .... */

.banner-wrapper{
    height: 596px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-wrapper .box{
    height: 596px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-wrapper .heading-1{
    font-size: 54px;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 20px;
}

.banner-wrapper .heading-2{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-wrapper .heading-3{
    width: 70%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-wrapper .btn{
    margin-top: 20px;
}

@media ( max-width: 768px ) {

    .banner-wrapper .box,
    .banner-wrapper .heading-3{
        width: 100%;
    }

    .banner-wrapper .heading-1{
        font-size: 32px;
    }

    .banner-wrapper .heading-2{
        font-size: 16px;
    }

}

/* Why Us  .... */

.whyus-wrapper{
    padding: 70px 0;
}

.whyus-wrapper .heading{
    margin-bottom: 50px;
}

.whyus-wrapper .whyus-list{
    justify-content: center;
    list-style: none;
    display: flex;
}

.whyus-wrapper .whyus-list .list{
    display: flex;
    width: 32%;
    height: 150px;
    background-color: rgba(246, 246, 246, 1);
    border-radius: 11px;
    margin: 1%;
    padding: 20px;
    align-items: center;
}

.whyus-wrapper .whyus-list .list .text{
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.whyus-wrapper .whyus-list .list .image-circle{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.whyus-wrapper .whyus-list .list .text.blue{
    color: var(--font-color-blue);
}

@media ( max-width: 768px ) {

    .whyus-wrapper{
        padding: 30px 0;
    }

    .whyus-wrapper .heading{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .whyus-wrapper .whyus-list{
        display: block;
    }

    .whyus-wrapper .whyus-list .list{
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 13px;
    }

}


/* Growth .... */

.growth-wrapper{
    padding: 70px 0;
    background-color: rgba(0, 176, 236, 0.04);
}

.growth-wrapper .growth-highlights{
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.growth-wrapper .growth-highlights .list{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 32%;
    padding: 10px;
    border: solid 1px var(--font-color-black);
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
}

.growth-wrapper .growth-wheel{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

@media ( max-width: 768px ) {

    .growth-wrapper{
        padding: 30px 0;
    }

    .growth-wrapper .sub-heading{
        font-size: 20px;
    }

    .growth-wrapper .heading{
        font-size: 32px;
        margin-bottom: 20px;
    }

    .growth-wrapper .growth-highlights{
        display: block;
    }

    .growth-wrapper .growth-highlights .list{
        display: block;
        width: 100%;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .growth-wrapper .growth-wheel{
        width: 100%;
    }

    .growth-wrapper .growth-wheel .growth_image_circle{
        width: 100%;
    }

    .growth-wrapper .growth-wheel{
        padding: 30px 0;
    }

}


/* We Believe .... */

.webelieve-wrapper{
    padding: 70px 0;
    background-color: rgba(0, 176, 236, 0.04);
}

