.innerpage-wrapper{
    overflow: hidden;
    clear: both;
    background-color: var(--bg-primary-white);
}

.innerpage-wrapper .breadcrumbs-wrap{
    background-color: var(--bg-primary-white);
}

.innerpage-wrapper .breadcrumbs{
    height: 40px;
    overflow: hidden;
    list-style: none;
}

.innerpage-wrapper .breadcrumbs .list{
    height: 40px;
    line-height: 40px;
    color: var(--text-color);
    font-size: 12px;
    float: left;
    padding-right: 10px;
}

/* --- */

.innerpage-wrapper .product-image-slider-wrap,
.innerpage-wrapper .product-info-wrap{
    padding: 20px 0;
}

.innerpage-wrapper .product-info-wrap .header-content{
    overflow: hidden;
    clear: both;
}

.innerpage-wrapper .product-info-wrap .header-content h1{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.innerpage-wrapper .product-info-wrap .header-content .price{
    overflow: hidden;
    display: flex;
    align-items: center;
}

.innerpage-wrapper .product-info-wrap .header-content .price .new-price,
.innerpage-wrapper .product-info-wrap .header-content .price .old-price,
.innerpage-wrapper .product-info-wrap .header-content .price .offer-percent{
    font-weight: 600;
    color: var(--text-color);
    margin-right: 5px;
}

.innerpage-wrapper .product-info-wrap .header-content .price .new-price{
    font-size: 22px;
}
.innerpage-wrapper .product-info-wrap .header-content .price .old-price{
    text-decoration: line-through;
    color: var(--text-sub-color);
    font-size: 18px;
}
.innerpage-wrapper .product-info-wrap .header-content .price .offer-percent{
    color: rgb(12, 151, 12);
    font-size: 18px;
}

/* --- */

.innerpage-wrapper .product-info-wrap .about-product{
    clear: both;
    margin: 20px 0;
}

.innerpage-wrapper .product-info-wrap .about-product .title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-light-color);
}

.innerpage-wrapper .product-info-wrap .about-product .accordion-button{
    font-weight: 600;
}

.innerpage-wrapper .product-info-wrap .about-product .accordion-button:not(.collapsed){
    background-color: transparent;
    color: var(--text-color);
}

.innerpage-wrapper .product-info-wrap .about-product .accordion-button:focus{
    box-shadow: none;
}

.innerpage-wrapper .product-info-wrap .product-customize{
    clear: both;
    margin: 20px 0;
}

.innerpage-wrapper .product-info-wrap .product-customize .title{
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-light-color);
}

.innerpage-wrapper .product-info-wrap .button-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.innerpage-wrapper .product-info-wrap .button-wrap .product-qty{
    margin-right: 20px;
}

.innerpage-wrapper .product-info-wrap .button-wrap .product-qty .input-quantity-btn{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    border: none;
    background-color: var(--bg-primary-green);
    color: var(--bg-primary-white);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

.innerpage-wrapper .product-info-wrap .button-wrap .product-qty .input-quantity{
    height: 40px;
    width: 60px;
    border-radius: 4px;
    border: solid 1px var(--border-color);
    text-align: center;
    margin: 0 10px;
    font-size: 14px;
}


/* ---- */

.innerpage-wrapper .product-image-slider-wrap .slider-wrap{
    height: 477px;
    width: 100%;
    overflow: hidden;
}

.innerpage-wrapper .product-image-slider-wrap .slider-wrap .thumbs-view{
    position: relative;
    width: 25%;
    height: 100%;
    float: left;
}
.innerpage-wrapper .product-image-slider-wrap .slider-wrap .image-view{
    width: 75%;
    height: 100%;
    float: left;
}

.innerpage-wrapper .product-image-slider-wrap .slider-wrap .image-view .imgae-wrap{
    height: 477px;
}
.innerpage-wrapper .product-image-slider-wrap .slider-wrap .image-view .imgae-wrap .imagethmb,
.innerpage-wrapper .product-image-slider-wrap .slider-wrap .image-view .imgae-wrap .imagethmb .imagethmb_inner{
    height: 477px;
}


.innerpage-wrapper .product-image-slider-wrap .slider-wrap .thumbs-view .image-thumbs{
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.innerpage-wrapper .product-image-slider-wrap .slider-wrap .thumbs-view .image-thumbs .list{
    height: 120px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid 1px var(--border-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.innerpage-wrapper .product-image-slider-wrap .slider-wrap .thumbs-view .scroll-up,
.innerpage-wrapper .product-image-slider-wrap .slider-wrap .thumbs-view .scroll-down{
    display: block;
    position: absolute;
    height: 25px;
    line-height: 25px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    color: var(--bg-primary-white);
    text-align: center;
    cursor: pointer;
    border-radius: 30px;
}

.innerpage-wrapper .product-image-slider-wrap .slider-wrap .thumbs-view .scroll-up{
    top: 0;
    display: none;
}

.innerpage-wrapper .product-image-slider-wrap .slider-wrap .thumbs-view .scroll-down{
    bottom: 0;
}


/* Search Or Products Pages Styles */

.innerpage-wrapper .filter-section{
    width: 30%;
    float: left;
    padding: 30px 0;
}

.innerpage-wrapper .filter-section .filter-wrap{
    clear: both;
    border: solid 1px var(--border-light-color);
    border-radius: 10px;
    overflow: hidden;
}

.innerpage-wrapper .filter-section .filter-wrap .title{
    display: block;
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion{
    overflow: hidden;
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion .accordion-item{
    overflow: hidden;
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion .accordion-item .accordion-header{
    border-top: solid 1px var(--border-light-color);
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion .accordion-item .accordion-header::after{
    position: absolute;
    content: '+';
    width: 30px;
    height: 30px;
    line-height: 30px;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 26px;
    font-family: monospace, Helvetica, sans-serif;
    font-weight: 100;
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion .accordion-item .accordion-header.active::after{
    content: '-';
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion .accordion-item .accordion-body{
    min-height: 50px;
    display: none;
    padding: 15px;
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion .accordion-item .accordion-body label{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    margin-bottom: 10px;
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion .accordion-item .accordion-body label em{
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
}

.innerpage-wrapper .filter-section .filter-wrap .filter-accordion .accordion-item .accordion-body.active{
    display: block;
}

/* --- */


.innerpage-wrapper .result-section{
    width: 70%;
    float: left;
    padding: 30px 0 30px 15px;
}

.innerpage-wrapper .result-section .result-sort{
    height: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.innerpage-wrapper .result-section .result-sort .dropdown{
    position: relative;
}

.innerpage-wrapper .result-section .result-sort .dropdown select{
    background-color: transparent;
    border: solid 1px var(--border-light-color);
    border-radius: 10px;
    height: 40px;
    padding: 0 10px;
    font-size: 13px;
}

.innerpage-wrapper .result-section .result-sort .dropdown::after{
    position: absolute;
    content: 'Sort By:';
    height: 40px;
    line-height: 40px;
    top: 0;
    left: -60px;
    font-size: 13px;
    font-weight: 600;
    color: var(--text-light-color);
}

.innerpage-wrapper .result-section .result-sort .search-result-header .result-title{
    color: var(--text-color);
    font-weight: 600;
    font-size: 24px;
}

.innerpage-wrapper .result-section .result-sort .search-result-header .result-count{
    color: var(--text-light-color);
    padding: 0 10px;
}

.innerpage-wrapper .result-section .result-wrap{
    overflow: hidden;
}

.innerpage-wrapper .result-section .result-wrap .dropdown{
    float: right;
}

.innerpage-wrapper .result-section .result-wrap .product-list{
    border-radius: 10px;
    width: 32.33%;
}

/* --- */

.innerpage-wrapper .authentication-wrap{
    clear: both;
    padding: 30px 0;
}

.innerpage-wrapper .authentication-wrap .primary-input{
    margin-bottom: 15px;
}

/* -- */

.innerpage-wrapper .wish-list-wrap{
    clear: both;
    min-height: 200px;
    padding-bottom: 30px;
}

.innerpage-wrapper .wish-list-wrap .wishlist{
    overflow: hidden;
    margin: 0 -0.5%;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list{
    min-height: 100px;
    padding: 10px;
    border: solid 1px var(--border-light-color);
    margin: 0 0.5%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list .image-wrap{
    height: 150px;
    overflow: hidden;
    margin: 10px 0;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list .image-wrap .imagethmb,
.innerpage-wrapper .wish-list-wrap .wishlist .list .image-wrap .imagethmb .imagethmb_inner{
    height: 150px;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list .title-wrap{
    clear: both;
    overflow: hidden;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list .title-wrap .product-title{
    font-size: 15px;
    font-weight: 500;
    height: 46px;
    overflow: hidden;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list .price-wrap{
    height: 40px;
    clear: both;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list .price-wrap .price{
    font-weight: 600;
    font-size: 20px;
    padding-right: 20px;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list .price-wrap .price.ex{
    color: var(--text-sub-color);
    text-decoration: line-through;
}

.innerpage-wrapper .wish-list-wrap .wishlist .list .button-wrap{
    clear: both;
    margin: 10px 0;
}
