

*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    outline: none !important;
	-webkit-font-smoothing: antialiased;
    font-variant-numeric: lining-nums;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-family: "Raleway", sans-serif;
    background-color: var(--bg-primary-offwhite);
}

.ga_top_bar{
    background-color: var(--bg-primary-green);
    height: 40px;
    line-height: 40px;
    color: #fff;
}

.ga_top_bar .shipping-info{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.ga_top_bar .top_bar_user{
    height: 40px;
    line-height: 40px;
    float: right;
}

.ga_top_bar .top_bar_user .user_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 4px;
}

.ga_top_bar .top_bar_user > div,
.ga_top_bar .top_bar_user .user_icon{
    height: 40px;
    line-height: 40px;
    float: left;
}

.ga_top_bar .top_bar_user > div a{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: var(--bg-primary-white);
    position: relative;
    transition-duration: 1s;
}

.ga_top_bar .top_bar_user > div a:hover{
    border-bottom: solid 4px #fff;
}

.ga_top_bar .top_bar_user .user_account{
    padding: 0 20px 0 0;
}

/* Header ------------ */

.header-search-section{
    clear: both;
    padding: 10px 0;
    border-bottom: solid 1px var(--border-color);
}

.header-search-section .logo-wrap{
    height: 80px;
    width: 80px;
}

.header-search-section .logo-wrap .imagethmb,
.header-search-section .logo-wrap .imagethmb_inner{
    height: 80px;
}

.header-search-section .search-wrap{
    clear: both;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-section .search-wrap .search-box{
    position: relative;
    width: 100%;
    height: 45px;
}

.header-search-section .search-wrap .search-box .search-input{
    height: 45px;
    padding: 0 50px 0 20px;
    border: none;
}

.header-search-section .search-wrap .search-box .search-input:focus{
    border: solid 1px var(--border-color);
}

.header-search-section .search-wrap .search-box .search-icon{
    display: block;
    height: 43px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    right: 1px;
}

.header-search-section .search-wrap .search-box .search-icon svg{
    color: var(--border-color);
}

.header-search-section .nav-wrap{
    clear: both;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-search-section .nav-wrap .header-nav{
    height: 45px;
    width: 100%;
}

.header-search-section .nav-wrap .header-nav .nav{
    position: relative;
    display: block;
    height: 45px;
    line-height: 45px;
    float: left;
    margin: 0 20px;
}

.header-search-section .nav-wrap .header-nav .nav a{
    display: block;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

.header-search-section .nav-wrap .header-nav .nav a:hover{
    color: var(--bg-primary-green);
}

.header-search-section .nav-wrap .header-nav .nav a.active::after,
.header-search-section .nav-wrap .header-nav .nav a:hover::after{
    background-color: var(--bg-primary-green);
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 8px;
    margin: auto;
}

.header-search-section .nav-wrap .header-nav .nav.buttons a.active::after,
.header-search-section .nav-wrap .header-nav .nav.buttons a:hover::after{
    display: none;
}

.header-search-section .nav-wrap .header-nav .nav.buttons{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    float: right;
}

.header-search-section .nav-wrap .header-nav .nav.buttons .wish-list,
.header-search-section .nav-wrap .header-nav .nav.buttons .carts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    position: relative;
}

.header-search-section .nav-wrap .header-nav .nav.buttons .wish-list .count,
.header-search-section .nav-wrap .header-nav .nav.buttons .carts .count{
    font-style: normal;
    font-weight: 600;
    position: absolute;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: var(--bg-primary-green);
    color: var(--bg-primary-white);
    top: -3px;
    right: -3px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
}

/* --------------- */

.ga-header-category{
    height: 40px;
    overflow: hidden;
}

.ga-header-category .categories{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ga-header-category .categories li{
    height: 40px;
    line-height: 40px;
}

.ga-header-category .categories li a{
    display: block;
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
    padding: 0 20px;
}

.ga-header-category .categories li:first-child a{
    padding-left: 0px;
}

.ga-header-category .categories li:last-child a{
    padding-right: 0px;
}

/* Pages */

.home-page-banner{
    clear: both;
}

.home-page-banner .banner-title-wrap{
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.home-page-banner .banner-title-wrap .content{
    width: 70%;
}

.home-page-banner .banner-title-wrap .content h4{
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.home-page-banner .banner-title-wrap .content h1{
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--bg-primary-green);
}

.home-page-banner .slider-wrap{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-banner .slider-wrap .imagethmb,
.home-page-banner .slider-wrap .imagethmb_inner{
    height: 350px;
}

/* --- */

.home-page-categories{
    clear: both;
    padding: 50px 0;
}

.home-page-categories .category{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.home-page-categories .category .list{
    width: 170px;
    min-height: 130px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.home-page-categories .category .list .image-thumb{
    overflow: hidden;
    display: block;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.home-page-categories .category .list .image-thumb img{
    width: 100%;
}

.home-page-categories .category .list .title{
    display: block;
    width: 170px;
    height: 30px;
    line-height: 30px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 14px;
    text-align: center;

}

/* --- */

.home-page-service-info{
    clear: both;
    overflow: hidden;
}

.home-page-service-info .top-strip{
    background-color: transparent;
}

.home-page-service-info .top-strip .content{
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-page-service-info .top-strip .content .icon{
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
}

.home-page-service-info .top-strip .content .text{
    font-weight: 600;
    font-size: 14px;
}

.home-page-service-info .top-strip .content .text a{
    text-decoration: underline;
}

.home-page-service-info .bottom-strip{
    background-color:  var(--bg-primary-white);
}

.home-page-service-info .bottom-strip .content{
    background-color: var(--bg-primary-green);
    padding: 20px;
}

.home-page-service-info .bottom-strip .content .info{
    width: 100%;
    overflow: hidden;
}

.home-page-service-info .bottom-strip .content .info .bx-1{
    width: 30%;
    float: left;
}
.home-page-service-info .bottom-strip .content .info .bx-2{
    width: 70%;
    float: left;
}

.home-page-service-info .bottom-strip .content .icon{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-service-info .bottom-strip .content .icon svg{
    color: var(--bg-primary-white);
}

.home-page-service-info .bottom-strip .content .hd-title{
    display: block;
    color:  #aaa;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
}
.home-page-service-info .bottom-strip .content .cn-title{
    display: block;
    color:  var(--bg-primary-white);
    height: 25px;
    line-height: 25px;
    font-size: 16px;
}

/* --- */

.home-page-feauted-products{
    background-color: var(--bg-primary-white);
    padding: 50px 0;
}

/* ---- */

.home-page-special-offer{
    background-color: var(--bg-primary-offwhite);
    padding: 50px 0;
}

.home-page-special-offer .spcial-offer-wrap{
    clear: both;
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 20px;
}

.home-page-special-offer .spcial-offer-wrap .list{
    position: relative;
    width: 100%;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin-bottom: 50px;
}

.home-page-special-offer .spcial-offer-wrap .list:hover{
    background-size: 110% 110%;
}

.home-page-special-offer .spcial-offer-wrap .list .offer{
    position: absolute;
    display: block;
    font-weight: 600;
    font-size: 84px;
    color: var(--bg-primary-white);
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    left: -33px;
    top: -2px;
}

.home-page-special-offer .spcial-offer-wrap .list .label{
    position: absolute;
    display: block;
    width: 100%;
    bottom: -43px;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
}

.home-page-special-offer .spcial-offer-wrap .list .label em{
    font-style: normal;
    background-color: var(--bg-primary-offwhite);
    position: relative;
    z-index: 999;
    float: right;
    padding-left: 10px;
}

.home-page-special-offer .spcial-offer-wrap .list .label::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #cecece;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* --- */

.home-page-corporate-gifts{
    background-color: var(--bg-primary-green);
    padding: 50px 0;
}

.home-page-corporate-gifts .image-wrap{
    height: 460px;
}

.home-page-corporate-gifts .image-wrap .imagethmb,
.home-page-corporate-gifts .image-wrap .imagethmb .imagethmb_inner{
    height: 460px;
}

.home-page-corporate-gifts .content-wrap{
    overflow: hidden;
    height: 460px;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-corporate-gifts .content-wrap .box{
    width: 80%;
    height: 200px;
}

.home-page-corporate-gifts .content-wrap h4{
    font-size: 14px;
    color: var(--bg-primary-white);
    text-transform: uppercase;
    text-decoration: underline;
}

.home-page-corporate-gifts .content-wrap h2{
    font-size: 44px;
    color: var(--bg-primary-white);
    padding: 20px 0;
}

.home-page-corporate-gifts .content-wrap p{
    font-size: 14px;
    color: var(--bg-primary-white);
}

/* --- */

.home-page-shop-by-relation{
    background-color: var(--bg-primary-offwhite);
    padding: 50px 0;
}

.home-page-shop-by-relation .category{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}

.home-page-shop-by-relation .category .list{
    width: 170px;
    min-height: 130px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.home-page-shop-by-relation .category .list .image-thumb{
    overflow: hidden;
    display: block;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.home-page-shop-by-relation .category .list .image-thumb img{
    width: 100%;
}

.home-page-shop-by-relation .category .list .title{
    display: block;
    width: 170px;
    height: 30px;
    line-height: 30px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

/* --- */

.home-page-popular-categories{
    background-color: var(--bg-primary-white);
    padding: 50px 0;
}

.home-page-popular-categories .category{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 20px 0;
}

.home-page-popular-categories .category .list{
    width: 170px;
    min-height: 130px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.home-page-popular-categories .category .list .image-thumb{
    overflow: hidden;
    display: block;
    height: 130px;
    width: 130px;
}

.home-page-popular-categories .category .list .image-thumb img{
    width: 100%;
}

.home-page-popular-categories .category .list .title{
    display: block;
    width: 170px;
    height: 30px;
    line-height: 30px;
    color: var(--text-color);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

/* Footer */

footer{
    background-color: var(--bg-primary-green);
    padding: 50px 0 0 0;
}

footer .footer-logo-wrap{
    height: 70px;
}

footer .footer-logo-wrap img{
    height: 100%;
}

footer .footer-content{
    padding: 15px 0;
}

footer .footer-content p{
    font-size: 13px;
    color: var(--bg-primary-white);
}

footer .footer-nav-wrap{
    display: flex;
}

footer .footer-nav{
    overflow: hidden;
    width: 33.33%;
}

footer .footer-nav .list{
    color: var(--bg-primary-white);
    font-size: 14px;
    height: 30px;
}

footer .footer-nav .list.head{
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer .footer-nav .list.social{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

footer .feeds{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

footer .copyright{
    height: 50px;
    border-top: solid 1px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyright span{
    display: block;
    color: var(--bg-primary-white);
    font-size: 12px;
}
