
/* Header And Navigation */
.header-wrapper{
    clear: both;
}

.header-wrapper .navbar,
.header-wrapper .bg-body-tertiary{
    background-color: transparent !important;
    height: 100px;
}

.header-wrapper .navbar .offcanvas.offcanvas-end{
    height: 100vh !important;
    background-color: #212529b3 !important;
}

.header-wrapper .navbar .burger-menu{
    background-color: transparent;
    border: none;
}

.header-wrapper .navbar .search-burger-wrap{
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-wrapper .navbar .header-compnay-year-logo img{
    height: 80px;
}

.header-wrapper .navbar .offcanvas-header .btn-close{
    background-color: #fff;
}

.header-wrapper .navbar .search-burger-wrap .search-input{
    margin: 0 20px;
    height: 35px;
    width: 250px;
    padding: 0 30px 0 15px;
    border-radius: 11px;
    border: solid 1px #ddd;
    font-size: 14px;
    opacity: 0.8;
    background-image: url('./../icons/search.svg');
    background-position: center right 10px;
    background-repeat: no-repeat;
}

.header-wrapper .navbar.gray{
    transition-duration: 0.5s;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition-duration: 1s;
}

.header-wrapper .navbar-brand{
    position: relative;
    width: 33.33%;
    margin: 0;
}

.header-wrapper .header-compnay-year-logo{
    width: 33.33%;
    margin: 0;
    text-align: center;
}



/* .header-wrapper .navbar-brand::after{
    content: '';
    position: absolute;
    bottom: -120px;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-image: url('./../images/header-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
} */

.header-wrapper .navbar-brand img{
    height: 60px;
}

.header-wrapper .navbar .nav-link{
    text-transform: uppercase;
    position: relative;
    color: var(--white);
    overflow: hidden;
    margin: 0 10px;
    font-size: 14px;
}

.header-wrapper .navbar .nav-link .qodef-menu-item-text{
    display: block;
    position: relative;
}

.header-wrapper .navbar .nav-link .qodef-menu-item-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 1px;
    width: calc(100% - 3px);
    background-color: var(--white);
    opacity: 1;
    transform: translate3d(-150%, 0, 0);
    /* transform-origin: 100% 50%;
    transition: transform 0.3scubic-bezier(0.85, 0.26, 0.17, 1);
    transform: scaleX(0); */
    transition-duration: 0.5s;
}

.header-wrapper .navbar .nav-link .qodef-menu-item-text:hover::after,
.header-wrapper .navbar .nav-link .qodef-menu-item-text:focus::after{
  transform: translate3d(0, 0, 0);
    /* transform: scaleX(1);
    transform-origin: 0 50%;
    transition: transform 0.4scubic-bezier(0.85, 0.26, 0.17, 1); */
}

.header-wrapper .navbar .address{
    padding: 20px 0;
}

.header-wrapper .navbar .address .address-wrap{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.header-wrapper .navbar .address p{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

/* --------------- */

/* Banner Section */
.banner-wrapper{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-wrapper .bannger-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner-content{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 300px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content .title{
    font-family: "Libre Baskerville", serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
}

.banner-content .sub-title{
    width: 35%;
    font-size: 18px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

/* Home about section */

.section-home-about{
    background-image: radial-gradient(circle at 10% 18.333333333333332%, #000000 0%, 20%, rgba(0,0,0,0) 40%), radial-gradient(circle at 10% 86.66666666666667%, rgba(51,51,51,0.99) 0%, 25%, rgba(51,51,51,0) 50%), radial-gradient(circle at 91.66666666666666% 85%, #000000 0%, 42%, rgba(0,0,0,0) 70%), radial-gradient(circle at 88.33333333333333% 15%, #333333 0%, 42%, rgba(51,51,51,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%);
    clear: both;
    position: relative;
    margin-top: 100vh;
}

.section-home-about .about-content{
    width: 70%;
    margin: 0 auto;
}

.section-home-about .about-content .title{
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.section-home-about .about-content .sub-title{
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    text-align: center;
}

.section-home-about  .about-numbers{
    clear: both;
    margin: 50px 0;
}

.section-home-about  .about-numbers .number-list{
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.section-home-about  .about-numbers .number-list .list{
    height: 200px;
    width: 200px;
}

.section-home-about  .about-numbers .number-list .list .value{
    display: block;
    height: 155px;
    line-height: 200px;
    width: 200px;
    font-size: 90px;
    font-weight: 100;
    text-align: center;
    color: #fff;
    position: relative;
}

.section-home-about  .about-numbers .number-list .list .value::after{
    content: '';
    width: 200px;
    height: 200px;
    border-top: solid 2px #be936b;
    border-left: solid 2px #be936b;
    border-right: solid 2px #be936b;
    border-bottom: solid 2px transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.section-home-about  .about-numbers .number-list .list .title{
    font-weight: 600;
    font-size: 14px;
    display: block;
    height: 45px;
    line-height: 60px;
    width: 200px;
    text-align: center;
    color: #fff;
}

/* home Latest Project */

.section-home-latest-project{
    clear: both;
    overflow: hidden;
    background-color: #2b2b2b;
}

.section-home-latest-project .property-info-wrap{
    background-color: #2b2b2b;
    overflow: hidden;
    width: 40%;
    float: left;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 50px;
}

.section-home-latest-project .property-info-wrap .title{
    font-family: "Libre Baskerville", serif;
    color: #fff;
    font-size:54px;
    margin-bottom: 20px;
}

.section-home-latest-project .property-info-wrap .sub-title{
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

.section-home-latest-project .property-info-wrap  .description{
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}

.section-home-latest-project .property-info-wrap .amenities_list{
    clear: both;
    overflow: hidden;
    margin: 50px 0;
}

.section-home-latest-project .property-info-wrap .amenities_list .list{
    width: 25%;
    float: left;
    text-align: center;
}

.section-home-latest-project .property-info-wrap .amenities_list .list img{
    width: 50px;
}

.section-home-latest-project .property-info-wrap .amenities_list .list .title{
    color: #fff;
    width: 100%;
    font-size: 12px;
    display: block;
    height: 40px;
    margin-top: 10px;
}

.section-home-latest-project .property-info-wrap .button-wrap{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.section-home-latest-project .property-slider-wrap{
    overflow: hidden;
    width: 60%;
    float: left;
    position: relative;
}

.section-home-latest-project .property-slider-wrap .next,
.section-home-latest-project .property-slider-wrap .prev{
    position: absolute;
    top: 0;
    bottom: 0;
    
    width: 50px;
    height: 30px;
    color: #fff;
    z-index: 9999;
    text-align: center;
    margin: auto;
    cursor: pointer;
}
.section-home-latest-project .property-slider-wrap .next{
    right: 10px;
}
.section-home-latest-project .property-slider-wrap .prev{
    left: 10px;
}


/* Home About Us */

.section-home-about-us{
    clear: both;
    /* background-image: radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #000000 0%, 20%, rgba(0,0,0,0) 40%), radial-gradient(circle at 6.503906249999999% 88.037109375%, rgba(65,65,65,0.99) 0%, 25%, rgba(65,65,65,0) 50%), radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #000000 0%, 42%, rgba(0,0,0,0) 70%), radial-gradient(circle at 93.6865234375% 11.42578125%, #414141 0%, 42%, rgba(65,65,65,0) 70%), radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, 100%, rgba(255,255,255,0) 100%); */
    background-color: #333;
    position: relative;
    padding-bottom: 150px;
}

.section-home-about-us .about-bg-banner{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 9;
}

.section-home-about-us .about-bg-banner img{
    width: 100%;
}

.section-home-about-us .about-info-wrap{
    padding: 50px;
    background-color: #fff;
    margin-top: 60px;
    position: relative;
    z-index: 99;
}

.section-home-about-us .about-info-wrap .title{
    font-family: "Libre Baskerville", serif;
    color: #333;
    font-size: 54px;
    margin-bottom: 20px;
}

.section-home-about-us .about-info-wrap .description{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Home Page Invest */

.section-home-invest{
    height: 300px;
    position: relative;
}

.section-home-invest .parallax-window {
    min-height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
	background: transparent;
}

.section-home-invest .header-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100px;
    width: 100%;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-home-invest .header-wrap .title{
    font-family: "Libre Baskerville", serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #6e6e6e;
}

.section-home-invest .header-wrap .description{
    width: 50%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 3px #6e6e6e;
}

/* Home Page Contact Us */

.section-home-contact{
    background-color: #2b2b2b;
    overflow: hidden;
}

.section-home-contact .bg-image{
    width: 50%;
    height: 720px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
}

.section-home-contact .contact-wrap{
    padding: 150px 0 100px 50px;
}

.section-home-contact .contact-wrap .title{
    font-family: "Libre Baskerville", serif;
    color: #fff;
    font-size: 54px;
    margin-bottom: 20px;
}

.section-home-contact .contact-wrap .description{
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Home Page Google Map */
.section-home-google-map{
    height: 350px;
    background-color: #333;
}


/* Social Links Sticky*/

.social-icons{
    height: 100px;
    width: 25px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 20px;
    z-index: 998;
    margin: auto;
}

.social-icons .icons{
    list-style: none;
    overflow: hidden;
}

.social-icons .icons .social-link{
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-bottom: 10px;
    color: #d6d6d6;
}

/* Footer */

.footer-wrapper{
    background-color: var(--black);
}

.footer-wrapper .footer-nav{
    list-style: none;
    clear: both;
    padding: 0;
    margin: 0;
}

.footer-wrapper .footer-nav .item{
    color: var(--text-color);
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
}

.footer-wrapper .footer-nav .item.title{
    font-size: 24px;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
}

.footer-wrapper .footer-nav .item .description{
    margin-top: 20px;
    font-size: 12px;

}

.footer-wrapper .footer-nav .item .social-list{
    display: flex;
    justify-content: flex-start;
}

.footer-wrapper .footer-nav .item .social-list .list{
    margin-right: 10px;
}

/* Media Query  */

/* Desktop */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Mobile */
@media (max-width: 767px) {

    .header-wrapper .navbar .header-compnay-year-logo{
        display: none;
    }

    .banner-content .title{
        font-size: 30px;
    }

    .banner-content .sub-title{
        width: 75%;
    }

    .header-wrapper .navbar .header-compnay-year-logo img,
    .header-wrapper .navbar-brand img{
        height: 45px;
    }

    .header-wrapper .navbar .search-burger-wrap .search-input{
        display: none;
    }

    .section-home-about .about-content{
        width: 100%;
    }

    .section-home-about .about-content .title{
        font-size: 32px;
    }

    .section-home-about .about-numbers .number-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .section-home-about .about-numbers .number-list .list{
        height: 125px;
        width: 100px;
    }

    .section-home-about .about-numbers .number-list .list .value{
        width: 100px;
        height: 85px;
        line-height: 100px;
        font-size: 44px;
    }

    .section-home-about .about-numbers .number-list .list .title{
        height: 45px;
        width: 100px;
        font-size: 10px;
        line-height: 16px;
    }

    .section-home-about .about-numbers .number-list .list .value::after{
        width: 100px;
        height: 100px;
    }

    .section-home-latest-project .property-slider-wrap,
    .section-home-latest-project .property-info-wrap{
        width: 100%;
    }

    .section-home-latest-project .property-info-wrap{
        padding: 80px 30px;
    }

    .section-home-latest-project .property-info-wrap .title{
        font-size: 40px;
    }

    .section-home-latest-project .property-info-wrap .amenities_list .list{
        width: 50%;
    }

    .section-home-latest-project .property-info-wrap .amenities_list .list .title{
        font-size: 14px;
    }

    .section-home-latest-project .property-info-wrap .button-wrap{
        display: block;
    }

    .section-home-latest-project .property-info-wrap .button-wrap .default-btn{
        margin-bottom: 10px;
    }

    .section-home-about-us .about-bg-banner{
        position: unset;
    }

    .section-home-about-us .about-bg-banner{
        width: 100%;
        height: auto;
    }

    .section-home-about-us .about-info-wrap{
        margin-top: 0px;
    }

    .section-home-about-us .about-info-wrap .title{
        font-size: 40px;
    }

    .section-home-invest .header-wrap{
        height: 200px;
    }

    .section-home-invest .header-wrap .title{
        font-size: 25px;
    }
    
    .section-home-about-us{
        padding-bottom: 50px;
    }

    .section-home-contact .bg-image{
        height: 420px;
    }

    .section-home-invest .header-wrap .description{
        width: 80%;
        font-size: 13px;
    }

    .section-home-contact .bg-image{
        width: 100%;
    }

    .section-home-contact .contact-wrap {
        padding: 80px 30px;
    }

    .section-home-contact .contact-wrap .title{
        font-size: 44px
    }

}

/* Mobile Small Screen */
@media (max-width: 415px) {

}
