:root {
    --main-bg-color: #ffffff;
    --nav-color: #182f7c;
    --nav-light-color: #244ed8;
    --white: #fff;
    --offwhite: #f1f1f1;
    --green: #46af1e;
    --light-green: #5de327;
    --border-color: #e6e6e6;
    --gray: #f2f5f9;
    --dark-gray: #b1b1b1;
    --black: #000000;
    --text-light: #777777;
    --orange: #ff7201;
  }
  * {
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
    outline: none;
    font-variant-numeric: lining-nums;
  }
  html,
  body {
    width: 100%;
    height: 100%;
  }
  body {
    background-color: var(--main-bg-color);
    overflow-x: hidden;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .btn-primary {
    background-color: var(--nav-color);
    border-color: var(--nav-color);
  }
  input::-ms-input-placeholder {
    color: var(--dark-gray) !important;
    font-size: 12px;
  }
  textarea::placeholder,
  input::placeholder {
    color: var(--dark-gray) !important;
    font-size: 12px;
  }
  .imagethmb {
    display: table;
    text-align: center;
    width: 100%;
    font-size: 0;
  }
  .imagethmb_inner {
    vertical-align: middle;
    display: table-cell;
  }
  .imagethmb img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
  .font-w-100 {
    font-weight: 100;
  }
  .font-w-200 {
    font-weight: 200;
  }
  .font-w-300 {
    font-weight: 300;
  }
  .font-w-400 {
    font-weight: 400;
  }
  .font-w-500 {
    font-weight: 500;
  }
  .font-w-600 {
    font-weight: 600;
  }
  .font-w-700 {
    font-weight: 700;
  }
  .font-w-800 {
    font-weight: 800;
  }
  .font-w-900 {
    font-weight: 900;
  }
  .font-w-bold {
    font-weight: bold;
  }
  .fl {
    float: left !important;
  }
  .fr {
    float: right !important;
  }
  .no-padding {
    padding: 0 !important;
  }
  .no-margin {
    margin: 0 !important;
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-end {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .owl-theme .owl-nav [class*="owl-"]:hover {
    background-color: transparent !important;
    color: #666;
  }
  .container-fluid {
    max-width: 1390px;
  }
  @media (min-width: 1200px) {
    .container-fluid {
      padding: 0 32px;
    }
    .container {
      max-width: 1200px;
    }
  }
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .header {
    font-size: 34px;
    height: 100px;
    line-height: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
  .header.right{
    text-align: right;
  }
  .header.left{
    text-align: left;
  }


  .product-list {
    position: relative;
    clear: both;
  }
  .product-list .list-item {
    position: relative;
    width: 100%;
    float: left;
    border-radius: 10px;
    border: solid 1px var(--border-color);
    overflow: hidden;
    background-color: var(--white);
  }
  .product-list .list-item .new {
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 60px;
    top: 20px;
    left: 0px;
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    font-size: 12px;
    z-index: 999;
  }
  .product-list .list-item .new::after {
    position: absolute;
    content: "";
    width: 10px;
    border-top: solid 8px transparent;
    border-bottom: solid 8px var(--orange);
    border-left: solid 8px var(--orange);
    border-right: solid 8px transparent;
    right: -16px;
    bottom: 0;
  }
  .product-list .list-item .new::before {
    position: absolute;
    content: "";
    width: 10px;
    border-top: solid 8px var(--orange);
    border-bottom: solid 8px transparent;
    border-left: solid 8px var(--orange);
    border-right: solid 8px transparent;
    right: -16px;
    top: 0;
  }

  .product-list .list-item .wrp{
    position: relative;
  }

  .product-list .list-item .wrp .soldout{
    position: absolute;
    background-color: var(--border-color);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-list .list-item .wrp .soldout em{
    font-style: normal;
    display: block;
    font-size: 30px;
    text-align: center;
    color: var(--text-light);
  }

  .product-list .list-item .image-wrapper,
  .product-list .list-item .image-wrapper .imagethmb .imagethmb_inner {
    height: 330px;
  }
  .product-list .list-item .image-wrapper .imagethmb .imagethmb_inner img {
    display: inline-block !important;
    width: auto !important;
  }
  .product-list .list-item .details-wrapper {
    background-color: #f9f9f9;
    border-top: solid 1px var(--border-color);
  }
  .product-list .list-item .details-wrapper .product_name {
    display: block;
    height: 125px;
    padding: 15px;
  }
  .product-list .list-item .details-wrapper .product_name .tag,
  .product-list .list-item .details-wrapper .product_name .title {
    display: block;
  }
  .product-list .list-item .details-wrapper .product_name .tag {
    color: #333;
    font-size: 14px;
    font-weight: 500;
  }
  .product-list .list-item .details-wrapper .product_name .title {
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .product-list .list-item .details-wrapper .product_enquiry {
    clear: both;
  }
  .product-list .list-item .details-wrapper .product_enquiry .whatsapp {
    display: block;
    height: 40px;
    line-height: 40px;
    background-color: var(--nav-color);
    color: var(--white);
    text-align: center;
  }
  .product-list .list-item .details-wrapper .product_enquiry .whatsapp:hover {
    background-color: var(--orange);
  }

  .product-list .list-item .price-wrapper{
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product-list .list-item .price-wrapper .price{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-light);
    border-top: solid 1px var(--border-color);
  }

  .product-list .list-item .price-wrapper .price:first-child{
    border-right: solid 1px var(--border-color);
  }


  .product-list .list-item .price-wrapper .price em{
    font-style: normal;
    font-size: 13px;
    color: var(--text-light);
  }


  .product-list .owl-prev {
    position: absolute;
    top: 0;
    bottom: 205px;
    left: 10px;
  }
  .product-list .owl-next {
    position: absolute;
    top: 0;
    bottom: 205px;
    right: 10px;
  }
  .product-list .owl-prev span,
  .product-list .owl-next span {
    font-size: 60px;
  }
  .fav-form {
    clear: both;
    padding: 20px;
  }
  .fav-form label {
    margin-top: 10px;
    font-size: 14px;
  }
  .fav-form input {
    width: 100%;
    height: 40px;
    border: solid 1px var(--border-color);
    border-radius: 5px;
  }
  .fav-form button {
    margin: 10px 0;
    height: 40px;
    width: 300px;
    background-color: var(--nav-color);
    color: var(--white);
    border: none;
    margin-top: 20px;
    border-radius: 5px;
  }
  .fav-form button:hover {
    background-color: var(--nav-light-color);
  }
  .fav-form .link {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: var(--nav-light-color);
    padding: 0 30px;
    font-size: 14px;
  }
  .fi-fo-field-wrp-error-message {
    color: red;
    font-size: 12px;
  }
  label {
    font-size: 12px;
    color: var(--text-light);
  }
  .fav-pagination {
    clear: both;
  }
  .fav-pagination .page-prev button,
  .fav-pagination .page-next button {
    border: solid 1px var(--border-color);
    height: 40px;
    width: 100px;
    padding: 0 20px;
  }

  .contact-button{
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: var(--nav-color);
        color: var(--white);
        text-align: center;
        border-radius: 8px;
        border: none;
  }

  .contact-button:hover {
    background-color: var(--orange);
  }

  .fancy-btn{
    display: inline-block;
    transition-duration: 0.5s;
    background: linear-gradient(90deg, #ff7201 0%, #ff0000 100%);
    /* border: solid 1px var(--white); */
    color: var(--white);
    border-radius: 30px;
    padding: 0px 30px;
    height: 50px;
    line-height: 50px;
  }
