
/* Banner ------------------------------------------ */

.ak-banner{
    background-color: #1FAA4A;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
}

.ak-banner .row,
.ak-banner .row .flex-center{
    height: 100%;
}

.ak-banner .banner-content{
    min-height: 100px;
}

.ak-banner .banner-content h4{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-green);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-banner .banner-content h1{
    font-weight: 500;
    font-size: 56px;
    color: var(--color-blue);
    margin-bottom: 20px;
}

.ak-banner .banner-content p{
    font-weight: 500;
    font-size: 16px;
    color: var(--color-gray);
    margin-bottom: 20px;
}

.ak-banner .banner-content .button-group div{
    float: left;
    margin-right: 10px;
}

@media ( max-width: 1200px ) {
    .ak-banner{
        background-position: right;
    }
}

@media ( max-width: 768px ) {

    .ak-banner{
        background-position: center right 14%;
    }
    
    .ak-banner .banner-content{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 30px 10px;
        border-radius: 10px;
    }

    .ak-banner .banner-content h1{
        font-size:42px;
    }

    .ak-banner .banner-content h4{
        font-size: 18px;
    }

    .ak-banner .banner-content p{
        color: #555555;
    }

    .ak-banner .banner-content .button-group div{
        width: 100%;
    }

    .ak-banner .banner-content .ak-dft-btn,
    .ak-banner .banner-content .ak-invr-btn{
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }


}

/* Counter ------------------------------------------ */

.ak-counter{
    clear: both;
    padding: 50px 0;
    background-color: var(--color-white);
}

.ak-counter .counter-list{
    margin-top: -13%;
    list-style: none;
    overflow: hidden;
    background-color: var(--color-white);
    border: solid 1px var(--color-border);
    border-radius: 10px;
    padding: 10px 0px;
}

.ak-counter .counter-list .item{
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
}

.ak-counter .counter-list .item::after{
    position: absolute;
    content: '';
    height: 80%;
    width: 2px;
    background-color: var(--color-border);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.ak-counter .counter-list .item:last-child::after{
    display: none;
}

.ak-counter .counter-list .item h3{
    height: 100px;
    line-height: 100px;
    font-weight: 600;
    font-size: 72px;
    background: linear-gradient(180deg, #0095DA 0%, #1FAA4A 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ak-counter .counter-list .item p{
    font-weight: 700;
    font-size: 16px;
    color: var(--color-light-blue);
    height: 40px;
}

@media ( max-width: 1200px ) {
    .ak-counter .counter-list{
        margin-top: -16%;
    }
}

@media ( max-width: 768px ) {

    .ak-counter .counter-list{
        margin-top: -20%;
    }

    .ak-counter .counter-list .item{
        width: 50%;
    }

    .ak-counter .counter-list .item h3{
        font-size: 56px;
    }

    .ak-counter .counter-list .item p{
        font-size: 12px;
    }

    .ak-counter .counter-list .item:nth-child(1)::before{
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: var(--color-border);
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    
    .ak-counter .counter-list .item:nth-child(2)::before{
        position: absolute;
        content: '';
        width: 80%;
        height: 2px;
        background-color: var(--color-border);
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    

}

/* News ------------------------------------------ */

.ak-news{
    clear: both;
    background-color: var(--color-blue);
    height: 45px;
}

.ak-news .news-head{
    position: absolute;
    display: block;
    background-color: rgb(4 71 132);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    width: 100px;
    padding: 0 10px;
    text-align: center;
    z-index: 99999;
}

.ak-news .news-list{
    height: 45px;
    line-height: 45px;
    color: var(--color-white);
}

/* About Us ------------------------------------------ */

.ak-aboutus{
    clear: both;
    padding: 100px 0;
    position: relative;
    background-color: var(--color-white);
}

.ak-aboutus img{
    position: relative;
    left: 0;
}

.ak-aboutus .box{
    position: relative;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 50px;
    border-radius: 10px 0px 0px 10px;
    left: -180px;
}

.ak-aboutus .box::after{
    content: '';
    position: absolute;
    background-color: var(--color-blue);
    height: 100%;
    width: 50%;
    right: -50%;
    top: 0;
}

.ak-aboutus .box h3{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

.ak-aboutus .box h3::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-aboutus .box p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

@media ( max-width: 768px ) {

    .ak-aboutus{
        padding: 0;
    }

    .ak-aboutus.flex-center{
        display: block;
    }

    .ak-aboutus img.banner{
        width: 100%;
    }

    .ak-aboutus .box{
        width: 100%;
        border-radius: initial;
        left: 0;
        padding: 30px;
    }

    .ak-aboutus .box::after{
        display: none;
    }

}

/* Products ------------------------------------------ */

.ak-products{
    clear: both;
    padding: 70px 0;
}

.ak-products h2{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-products h2::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-products .products-list{
    display: flex;
    justify-content: space-between;
}

.ak-products .products-list .item{
    position: relative;
    width: 32%;
    border-radius: 10px;
}

.ak-products .products-list .item img{
    width: 100%;
}

.ak-products .products-list .item .text{
    position: absolute;
    height: 50px;
    width: 95%;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    color: var(--color-blue);
    margin: auto;
    padding: 15px 10px;
    border-radius: 10px;
}

@media ( max-width: 768px ) {

    .ak-products .products-list{
        display: block;
    }

    .ak-products .products-list .item{
        width: 100%;
        margin-bottom: 20px;
    }

}

/* Our Heritage ------------------------------------------ */

.ak-heritage {
    clear: both;
    padding: 70px 0;
    background-color: var(--color-white);
}


.ak-heritage h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-heritage h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-heritage h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--color-blue);
}

.ak-heritage p {
    color: rgba(128, 128, 128, 1);
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
}

.ak-heritage .content-box{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.ak-heritage .content-box .exp-count{
    background: linear-gradient(90deg, rgba(0, 43, 92, 0.9) 0%, rgba(0, 91, 194, 0) 100%);
    position: absolute;
    bottom: 0px;
    display: block;
    font-weight: 700;
    font-size: 160px;
    color: var(--color-white);
    height: 230px;
    line-height: 170px;
    padding: 0 30px;
}

.ak-heritage .content-box .exp-text{
    position: absolute;
    display: block;
    background: linear-gradient(270deg, #0095DA 0%, #1FAA4A 100%);
    color: var(--color-white);
    width: 250px;
    padding: 10px 40px;
    font-size: 14px;
    border-radius: 0px 10px 0px 0px;
    bottom: 0px;
}

@media ( max-width: 768px ) {
    .ak-heritage .content-box{
        padding-top: 50px;
        overflow: hidden;
    }

    .ak-heritage .content-box img{
        height: 100%;
    }
}

/* Our Team ------------------------------------------ */


.ak-teams {
    clear: both;
    padding: 70px 0;
}

.ak-teams h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-teams h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-teams h3{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-blue);
    margin-bottom: 20px;
}

.ak-teams .teams-list{
    clear: both;
}

.ak-teams .teams-list .item{
    width: 25%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 60px;
}

.ak-teams .teams-list .item .pic{
    width: 50%;
    border-radius: 50%;
    border: solid 1px var(--color-green);
}

.ak-teams .teams-list .item .name{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(90deg, #1FAA4A 0%, #005BC2 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ak-teams .teams-list .item .designation{
    font-weight: 500;
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
    height: 50px;
}

@media ( max-width: 1024px ) {
    .ak-teams .teams-list .item {
        
    }

    .ak-teams .teams-list .item .name{
        font-size: 18px;
    }

}

@media ( max-width: 768px ) {

    .ak-teams .teams-list .item {
        text-align: center;
        width: 50%;
    }
    .ak-teams .teams-list .item .pic{
        margin: 0 auto 20px auto;
    }

}


/* Services ----------------------------------------- */

.ak-services{
    position: relative;
    background-color: var(--color-blue);
    padding: 70px 0;
}

.ak-services .service_link{
    position: absolute;
    bottom: 70px;
}

.ak-services.desktop .service-list{
    clear: both;
    width: 100%;
}

.ak-services.desktop .service-list .item{
    position: relative;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: var(--color-light-gray);
    font-size: 24px;
    font-weight: 500;
    padding-left: 30px;
    cursor: pointer;
}

.ak-services.desktop .service-list .item::before{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-light-gray);
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.ak-services.desktop .service-list .item.active{
    color: var(--color-white);
}

.ak-services.desktop .service-list .item.active span{
    position: relative;
}

.ak-services.desktop .service-list .item.active span::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
}

.ak-services.desktop .service-details{
    clear: both;
    width: 100%;
}

.ak-services.desktop .service-details .item{
    display: none;
    padding: 0 30px;
}

.ak-services.desktop .service-details .item.active{
    display: block;
}

.ak-services.desktop .service-details .item h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-services.desktop .service-details .item h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-services.desktop .service-details .item h3 {
    color: var(--color-white);
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
}

.ak-services.desktop .service-details .item img{
    width: 100%;
}

/* --- */

.ak-services.mobile h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-services.mobile h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.ak-services.mobile .service-list{
    clear: both;
    width: 100%;
}

.ak-services.mobile .service-list .item{
    width: 100%;
}

.ak-services.mobile .service-list .item .header{
    position: relative;
    padding: 10px 0;
    color: var(--color-light-gray);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.ak-services.mobile .service-list .item .header::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
}


.ak-services.mobile .service-list .item .content{
    padding: 20px;
    display: none;
}

.ak-services.mobile .service-list .item .content.active{
    display: block;
}

.ak-services.mobile .service-list .item .content h3 {
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.ak-services.mobile .service-list .item .content img{
    width: 100%;
}

.ak-services.mobile .service_link{
    position: absolute;
    bottom: 10px;
}

/* Partners --------------------------------------- */

.ak-partners{
    padding: 70px 0;
}

.ak-partners h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.ak-partners h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-partners .partners-list{
    width: 80%;
    margin: 0 auto;
    /* overflow: hidden; */
    display: flex;
    justify-content: space-evenly;
}

.ak-partners .partners-list .item{
    display: flex;
    justify-content: center;
    height: 85px;
    width: 155px;
}

.ak-partners .partners-list .item img{
    width: 100%;
}


@media ( max-width: 768px ) {

    .ak-partners .partners-list{
        display: block;
        width: 100%;
        flex-direction: column;
    }

    .ak-partners .partners-list .item{
        padding: 5px;
        flex-direction: column;
        float: left;
        height: auto;
        width: 50%;
    }

}

/* Insigts  ------------------------------------ */

.ak-insigts{
    padding: 70px 0;
    background-color: var(--color-white);
}


.ak-insigts h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-insigts h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-insigts .insight-list{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.ak-insigts .insight-list .item{
    position: relative;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.ak-insigts .insight-list .item .date{
    position: absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    color: var(--color-white);
    padding: 0 10px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    border-radius: 10px 0px 10px 0px;
}

.ak-insigts .insight-list .item .pic{
    width: 100%;
    margin-bottom: 20px;
}

.ak-insigts .insight-list .item .text{
    line-height: 28px;
    color: var(--color-blue);
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

.ak-insigts .insight-list .item .user{
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: solid 1px var(--color-border);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.ak-insigts .insight-list .item .user img{
    width: 15px;
    height: 15px;
}

.ak-insigts .insight-list .item .user span{
    padding: 0 8px;
    color: rgba(128, 128, 128, 1);
    font-weight: 500;
    font-size: 16px;
}


.ak-insigts .insight-list .item .link{
    display: flex;
    justify-content: start;
    align-items: center;
}

.ak-insigts .insight-list .item .link a{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-blue);
}

.ak-insigts .insight-list .item .link img{
    width: 15px;
    height: 15px;
    margin: 0 10px;
}

.ak-insigts .nav-group{
    display: flex;
    justify-content: end;
}

.ak-insigts .nav-group .prev,
.ak-insigts .nav-group .next{
    display: block;
    cursor: pointer;
}

.ak-insigts .nav-group .prev{
    margin-right: 5px;
}
.ak-insigts .nav-group .next{
    margin-left: 5px;
}

/*  */

.ak-markets{
    padding: 70px 0;
}

.ak-markets h2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.ak-markets h2::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-markets p{
    width: 30%;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.ak-markets .markets-list{
    width: 100%;
    clear: both;
    margin-bottom: 20px;
}

.ak-markets .markets-list .item{
    padding: 8px 20px;
    border-radius: 50px;
    border: solid 1px var(--color-green);
    float: left;
    background: linear-gradient(90deg, #002B5C 0%, #1FAA4A 100%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}

.ak-markets .market-pic{
    width: 100%;
    margin-top: 50px;
}

@media ( max-width: 768px ) {
    .ak-markets p{
        width: 100%;
    }

    .ak-markets .markets-list .item{
        padding: 6px 15px;
        font-size: 15px;
    }

}

/* Inner Banner ------------------------------------------ */

.ak-inner-banner{
    position: relative;
    height: 190px;
    background-color: #136ed6;
    background-position: top left;
    background-repeat: no-repeat;
}

.ak-inner-banner .innerLayer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #002B5C;
    opacity: 0.5;
    left: 0;
    top: 0;
    z-index: 1;
}

.ak-inner-banner h1{
    position: relative;
    color: var(--color-white);
    font-weight: 500;
    font-size: 56px;
    height: 190px;
    line-height: 190px;
    z-index: 999;
}

.ak-inner-banner ul{
    position: absolute;
    z-index: 999;
    clear: both;
    bottom: 15px;
}

.ak-inner-banner ul li{
    float: left;
    color: var(--color-white);
    margin-right: 5px;
}

/* About Us */

.ak-aboutus-banner{
    padding: 40px 0 0 0;
    position: relative;
    background-color: var(--color-white);
}

.ak-aboutus-banner .slider{
    clear: both;
    position: relative;
}

.ak-aboutus-banner .slider .owl-item img{
    transform: scale(1.023);
}

.ak-aboutus-banner .nav-group{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 48%;
    z-index: 9999;
}

.ak-aboutus-banner .nav-group .prev,
.ak-aboutus-banner .nav-group .next{
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
}

.ak-aboutus-content{
    padding: 30px 0 0 0;
    background-color: var(--color-white);
}

.ak-aboutus-content h2{
    font-weight: 500;
    font-size: 32px;
    color: var(--color-blue);
    margin-bottom: 20px;
}

.ak-aboutus-content p{
    font-weight: 500;
    font-size: 16px;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 20px;
    text-align: justify;
}

.ak-aboutus-view{
    clear: both;
    padding: 70px 0;
    position: relative;
    background-color: var(--color-white);
}

.ak-aboutus-view img{
    position: relative;
    left: 0;
}

.ak-aboutus-view .box{
    position: relative;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 80px 50px;
    border-radius: 10px 0px 0px 10px;
    left: -80px;
}

.ak-aboutus-view .box::after{
    content: '';
    position: absolute;
    background-color: var(--color-blue);
    height: 100%;
    width: 50%;
    right: -50%;
    top: 0;
}

.ak-aboutus-view .box h3{
    font-weight: 700;
    font-size: 20px;
    color: var(--color-light-blue);
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}

.ak-aboutus-view .box h3::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(90deg, #1FAA4A 0%, #0095DA 100%);
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.ak-aboutus-view .box p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ak-aboutus-values{
    position: relative;
    padding: 0px 0;
    background: linear-gradient(270deg, #0095DA 0%, #1FAA4A 100%);
}

.ak-aboutus-values .value-list{
    padding: 45px 0;
    width: 80%;
    position: relative;
}

.ak-aboutus-values .logo{
    position: absolute;
    height: 160px;
    width: 160px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
}

.ak-aboutus-values .logo::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 1px var(--color-white);
    border-radius: 50%;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    transform: scale(1.05);
}

.ak-aboutus-values .logo img{
    width: 55%;
}

.ak-aboutus-values .logo h2{
    width: 50%;
    font-size: 13px;
    text-align: center;
    margin: 10px auto;
}

.ak-aboutus-values .value-list.br{
    border-bottom: solid 1px rgba(210, 210, 210, 1);
}

.ak-aboutus-values .value-list.pdr{
    margin-right: 100px;
}

.ak-aboutus-values .value-list.pdl{
    margin-left: 100px;
}

.ak-aboutus-values .value-list h4{
    font-weight: 500;
    font-size: 24px;
    color:rgba(255, 255, 255, 1);
}

.ak-aboutus-values .value-list p{
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}