
/* Header */

.ak-header{
    clear: both;
}

.ak-header .topbar{
    height: 54px;
    background-color: var(--color-white);
    border-bottom: solid 1px var(--color-border);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.ak-header .topbar .topbar-list li{
    float: left;
    height: 54px;
    background-color: var(--color-white);
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.ak-header .topbar .topbar-list li.separator:after{
    position: absolute;
    content: '';
    height: 20px;
    width: 1px;
    background-color: var(--color-border);
    top: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
}

.ak-header .topbar .topbar-list li img{
    margin-right: 5px;
}

.ak-header .topbar .topbar-list li .time-icon{
    background: linear-gradient(270deg, #1FAA4A 0%, #0095DA 100%);
    padding: 5px;
    border-radius: 50%;
}

.ak-header .topbar .topbar-list li.topbar-time{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.ak-header .topbar .topbar-list li.topbar-time::before{
    position: absolute;
    content: '';
    background-color: var(--color-blue);
    top: 0px;
    left: -32px;
    width: 32px;
    height: 54px;
}

.ak-header .topbar .topbar-list li.topbar-time::after{
    position: absolute;
    content: '';
    top: 0px;
    right: -51px;
    width: 32px;
    height: 54px;
    border-top: solid 26px transparent;
    border-left: solid 26px var(--color-blue);
    border-right: solid 26px transparent;
    border-bottom: solid 29px var(--color-blue);
}

.ak-header .navbar{
    padding: 10px 0;
}

.ak-header .navbar .navbar-nav{
    align-items: center;
}

.ak-header .navbar .navbar-nav .nav-link{
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px;
}

.ak-header .navbar .navbar-nav .nav-link .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: var(--social-button-color);
    border-radius: 50%;
    cursor: pointer;
}

@media ( max-width: 1300px ) {
    .ak-header .topbar{
        height: auto;
    }
    .ak-header .topbar .topbar-list li{
        font-size: 13px;
    }
}

@media ( max-width: 768px ) {
    .ak-header .topbar{
        display: none;
    }

    .ak-header .navbar .navbar-nav .nav-link{
        width: 100%;
        padding: 10px 30px;
    }

    .ak-header .navbar .navbar-nav .nav-link.social{
        display: none;
    }

}

/* Footer */

.ak-footer{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.ak-footer .scroll-top{
    display: none;
    position: fixed;
    height: 40px;
    line-height: 40px;
    width: 40px;
    bottom: 30px;
    right: 30px;
    background-color: #1678e8;
    color: var(--color-white);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 6px #0526cb;
    z-index: 99999;
}

.ak-footer .first-footer{
    padding: 20px 0;
}

.ak-footer .first-footer .footer-navbar{
    overflow: hidden;
}

.ak-footer .first-footer .footer-navbar li{
    height: 45px;
    line-height: 45px;
    color: var(--color-white);
    float: left;
    padding: 0 10px;
}

.ak-footer .first-footer .footer-navbar li .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: var(--social-button-color);
    border-radius: 50%;
    cursor: pointer;
}

.ak-footer .second-footer{
    border-top: solid 1px #fff;
    padding: 20px 0;
}

.ak-footer .second-footer .copyright{
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}

.ak-footer .bottombar-list li{
    float: left;
    height: 40px;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.ak-footer .bottombar-list li.separator:after{
    position: absolute;
    content: '';
    height: 20px;
    width: 1px;
    background-color: var(--color-border);
    top: 0;
    bottom: 0;
    right: 0px;
    margin: auto;
}

.ak-footer .bottombar-list li img{
    margin-right: 5px;
}

@media ( max-width: 1300px ) {
    

    .ak-footer .second-footer .copyright,
    .ak-footer .bottombar-list li{
        font-size: 13px;
    }


}

@media ( max-width: 768px ) {

    .ak-footer .first-footer .footer-navbar{
        margin-top: 20px;
    }

    .ak-footer .first-footer .footer-navbar li{
        width: 50%;
    }

    .ak-footer .first-footer{
        text-align: center;
    }

    .ak-footer .flex-end{
        justify-content: center;
    }

    .ak-footer .second-footer .copyright{
        text-align: center;
    }

    .ak-footer .bottombar-list li{
        width: 100%;
        justify-content: center;
    }

    .ak-footer .bottombar-list li span{
        text-align: center;
    }

    .ak-footer .bottombar-list li.separator:after{
        content: none;   
    }

}


/* Inner Banner ------------------------------------------ */

.ak-inner-banner{
    position: relative;
    height: 190px;
    background-color: #136ed6;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}

.ak-inner-banner .innerLayer{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #002B5C;
    opacity: 0.5;
    left: 0;
    top: 0;
    z-index: 1;
}

.ak-inner-banner h1{
    position: relative;
    color: var(--color-white);
    font-weight: 500;
    font-size: 56px;
    /* height: 190px;
    line-height: 190px; */
    z-index: 999;
    padding-top: 5%;
}

.ak-inner-banner ul{
    position: absolute;
    z-index: 999;
    clear: both;
    bottom: 15px;
}

.ak-inner-banner ul li{
    float: left;
    color: var(--color-white);
    margin-right: 5px;
}


@media ( max-width: 768px ) {
    .ak-inner-banner h1{
        font-size: 38px;
        padding-top: 15%;
    }
}